.ali_express{
    &__content{
        &-link{
            position: relative;            
            .owl-nav{
                .owl-prev, .owl-next{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0;
                    background: rgba(250, 250, 250, .6) !important;
                    height: 27px;
                    width: 27px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0;
                    border-radius: 0;
                    transition: all .3s;
                    &:hover {
                        background: rgba(250, 250, 250, 1) !important;                        
                    }
                    i {
                        color: #ffa200;
                        font-size: 14px;
                        line-height: 27px;
                    }
                }
                .owl-prev{
                    left: 0;
                }
                .owl-next{
                    right: 0;
                }
            }
        }
        &-user{
            margin-top: 20px;
            display: flex;
            align-items: center;
            .user_img{
                img{
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            .user_name{
                .im-link{
                    .name{
                        color: #333333;
                        font-size: 16px;
                        display: block;
                    }
                }
                .role{
                    color: #868e96;
                    font-size: 12px;
                }
            }
            .star-rating{
                text-align: right;
                position: relative;
                line-height: 22px;
                margin-bottom: 0px;
            }
        }
    }
    &__video{
        iframe {
            width: 100%;
            display: inline-block;
        }
    }
}