.ali_express__content-link {
  position: relative;
}
.ali_express__content-link .owl-nav .owl-prev, .ali_express__content-link .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  background: rgba(250, 250, 250, 0.6) !important;
  height: 27px;
  width: 27px;
  line-height: 27px;
  text-align: center;
  padding: 0;
  border-radius: 0;
  transition: all 0.3s;
}
.ali_express__content-link .owl-nav .owl-prev:hover, .ali_express__content-link .owl-nav .owl-next:hover {
  background: rgb(250, 250, 250) !important;
}
.ali_express__content-link .owl-nav .owl-prev i, .ali_express__content-link .owl-nav .owl-next i {
  color: #ffa200;
  font-size: 14px;
  line-height: 27px;
}
.ali_express__content-link .owl-nav .owl-prev {
  left: 0;
}
.ali_express__content-link .owl-nav .owl-next {
  right: 0;
}
.ali_express__content-user {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.ali_express__content-user .user_img img {
  border-radius: 50%;
  margin-right: 10px;
}
.ali_express__content-user .user_name .im-link .name {
  color: #333333;
  font-size: 16px;
  display: block;
}
.ali_express__content-user .user_name .role {
  color: #868e96;
  font-size: 12px;
}
.ali_express__content-user .star-rating {
  text-align: right;
  position: relative;
  line-height: 22px;
  margin-bottom: 0px;
}
.ali_express__video iframe {
  width: 100%;
  display: inline-block;
}/*# sourceMappingURL=ali_express.css.map */