.amazon{
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 95px 15px 45px 15px;
	&__title{
		font-size: 32px;
		font-weight: 700;
		margin: 0px 0px 20px 0px;
		text-align: left;
		letter-spacing: .5px;
		@include Responsive(MD){
			font-size: 26px;
		}
		@include Responsive(SM){
			font-size: 20px;
		}
		&-color{
			color: #ff250d;
		}
		
	}
	&__line{
		border: 1px solid #efefec;
		position: relative;
		margin-bottom: 40px;
		padding: 0 15px;
		&-small{
			position: absolute;
			border: 1px solid #ff250d;
			width: 30px;
			right: 0;
		}
	}
	&__product{
		position: relative;
		article{
			margin-top: 2px;
			padding: 0 10px;
		}
		&-box{
			transition: 0.5s;
			transform: translateY(0);
			width: 100%;
			box-shadow: 0px 0px 3px 0px rgb(110 110 110 / 20%);
			margin: 0 0 1rem !important;
			&:hover{
				box-shadow: 0px 8px 16px 0px rgb(130 156 199 / 20%);
				.product__view{
					top: 30% !important;
					opacity: 1 !important;
				}
				.product__meta-top .compare-btn button {
					background-color: #ff250d;
					color: #fff;
				}
				.product__img img {
					transform: scale(.9);
				}
			}
			.product__meta-top{
				background: #f1f1f1;
				position: relative;
				.product__img{
					text-align: center;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					min-height: 200px;
					overflow: hidden;
					-webkit-transition: 0s;
					transition: 0s;
					img{
						width: auto;
						display: inline-block;
						max-width: 100%;
						border: none;
					}
				}
				.product__view{
					position: absolute;
					left: 50%;
					top: 50%;
					transition: 0.5s;
					opacity: 0;
					transform: translate(-50%, 50%);
					button{
						color: #ff250d;
						box-shadow: 0px 17px 10px -10px rgb(0 0 0 / 40%);
						background: #fff;
						border-radius: 20px;
						border-color: transparent;
						cursor: pointer;
						line-height: 20px;
						i{
							margin-right: 6px;
						}
					}
				}

			}
			.product__img{
				text-align: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 200px;
				overflow: hidden;
				transition: 0s;
				img{
					transition: 0.5s;
					transform: scale(.8);
				}
			}
			.product__meta-bottom{
				width: 100%;
				padding-bottom: 15px;
				background: #fff;
				a {
					display: block;
					h6{
						color: #000;
						font-size: 16px;
						font-weight: 500;
						line-height: 24px;
						padding: 0 15px;
						text-align: left;
						text-transform: capitalize;
					}
					
				}
				
			}
			.product__meta-footer{
				padding-top: 15px;
				border-top: 1px solid #e5e5e5;
				display: flex;
				justify-content: space-between;
				padding: 15px 15px 0;
				text-align: left;
				margin-top: 17px;
				font-size: 14px;
				align-items: center;
				.left__content{
					display: flex;
					align-items: center;
					justify-content: space-between;
					span{
						color: #888888;
    					display: none;
					}
					a{
						color: #464646;
					}
					i{
						color: #e38803;
						margin-right: 10px;
					}
				}
				.compare-btn{
					margin-top: 0;
    				position: relative;
					span {
						a{
							font-size: 17px;
							border-radius: 5px;
							background: transparent;
							border-color: transparent;
							padding: 0;
							border-radius: 20px;
							background-color: transparent !important;
							color: #ff6600;
						}
					}
				}
			}
		}
		.owl-nav{
			position: absolute;
			top: -121px;
			right: 0;
			button {
				&:hover {
					background: transparent !important;
				}
			}
		}
		.owl-nav, .owl-next {
			background: none;
			border-radius: 0;
			transition: 0.5s;
			padding-left: 15px;
			padding-top: 15px;
			i {
				color: #bfbfb8;
				font-size: 20px;
				&:hover{
					color: #DF4D3A !important;
				}
				@include Responsive(SM){
					font-size: 16px !important;
				}
			}
			
		}
		.owl-theme .owl-nav [class*=owl-]{
			color: #FFF;
			font-size: 14px;
			padding: 4px 7px;
			margin: 0!important;
			background: #D6D6D6;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			
		}
		.owl-theme .owl-nav .disabled{
			opacity: .5;
			cursor: default;
		}
		.owl-prev{
			margin-right: 15px !important;
			margin-left: 0px !important;
			&::before{
				display: block;
				content: '';
				clear: both;
				border: 1px solid #bfbfb8;
				transform: skew(5deg,125deg);
				position: relative;
				top: 11px;
				left: 32px;
				width: 90%;
				height: 0;
			}
		}
		.owl-next{
			margin-left: 20px !important;
		}
	}
}
.product__rating{
	padding: 18px 0;
	border-top: 0;
	background: white;
	text-align: center;
	
}
.price-start{
	text-align: left;
	padding: 0 15px;
	p{
		color: #666666;
		font-size: 14px;
		strong{
			margin-left: 5px;
			display: inline-flex;
			font-size: 14px;
		}
	}
}