.amazon {
  padding: 95px 0px 35px 0px;
}
.amazon__title {
  font-size: 32px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
  text-align: left;
  letter-spacing: 0.5px;
}
.amazon__title-color {
  color: #ff250d;
}
.amazon__line {
  border: 1px solid #efefec;
  position: relative;
  margin-bottom: 40px;
  padding: 0 15px;
}
.amazon__line-small {
  position: absolute;
  border: 1px solid #ff250d;
  width: 30px;
  right: 0;
}
.amazon__product {
  position: relative;
}
.amazon__product article {
  margin-top: 2px;
  padding: 0 10px;
}
.amazon__product-box {
  transition: 0.5s;
  transform: translateY(0);
  width: 100%;
  box-shadow: 0px 0px 3px 0px rgba(110, 110, 110, 0.2);
}
.amazon__product-box:hover {
  box-shadow: 0px 8px 16px 0px rgba(130, 156, 199, 0.2);
}
.amazon__product-box:hover .product__view {
  top: 30% !important;
  opacity: 1 !important;
}
.amazon__product-box:hover .product__meta-top .compare-btn button {
  background-color: #ff250d;
  color: #fff;
}
.amazon__product-box:hover .product__img img {
  transform: scale(0.9);
}
.amazon__product-box .product__meta-top {
  background: #f1f1f1;
  position: relative;
}
.amazon__product-box .product__meta-top .product__img {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  overflow: hidden;
  transition: 0s;
}
.amazon__product-box .product__meta-top .product__img img {
  width: auto;
  display: inline-block;
  max-width: 100%;
  border: none;
}
.amazon__product-box .product__meta-top .product__view {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.5s;
  opacity: 0;
  transform: translate(-50%, 50%);
}
.amazon__product-box .product__meta-top .product__view button {
  color: #ff250d;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
  line-height: 20px;
}
.amazon__product-box .product__meta-top .product__view button i {
  margin-right: 6px;
}
.amazon__product-box .product__img {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  overflow: hidden;
  transition: 0s;
}
.amazon__product-box .product__img img {
  transition: 0.5s;
  transform: scale(0.8);
}
.amazon__product-box .product__meta-bottom {
  width: 100%;
  padding-bottom: 15px;
}
.amazon__product-box .product__meta-bottom .product__rating {
  padding: 18px 0;
  border-top: 0;
  background: white;
  text-align: center;
}
.amazon__product-box .product__meta-bottom a {
  display: block;
}
.amazon__product-box .product__meta-bottom a h6 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 15px;
  text-align: left;
  text-transform: capitalize;
}
.amazon__product-box .product__meta-bottom a .price-start {
  text-align: left;
  padding: 0 15px;
}
.amazon__product-box .product__meta-bottom a .price-start p {
  color: #666666;
  font-size: 14px;
}
.amazon__product-box .product__meta-bottom a .price-start p strong {
  margin-left: 5px;
  display: inline-flex;
  font-size: 14px;
}
.amazon__product-box .product__meta-footer {
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0;
  text-align: left;
  margin-top: 17px;
  font-size: 14px;
  align-items: center;
}
.amazon__product-box .product__meta-footer .left__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amazon__product-box .product__meta-footer .left__content span {
  color: #888888;
  display: none;
}
.amazon__product-box .product__meta-footer .left__content a {
  color: #464646;
}
.amazon__product-box .product__meta-footer .left__content i {
  color: #e38803;
  margin-right: 10px;
}
.amazon__product-box .product__meta-footer .compare-btn {
  margin-top: 0;
  position: relative;
}
.amazon__product-box .product__meta-footer .compare-btn span a {
  font-size: 17px;
  border-radius: 5px;
  background: transparent;
  border-color: transparent;
  padding: 0;
  border-radius: 20px;
  background-color: transparent !important;
  color: #ff6600;
}
.amazon__product .owl-nav {
  position: absolute;
  top: -121px;
  right: 0;
}
.amazon__product .owl-nav button:hover {
  background: transparent !important;
}
.amazon__product .owl-nav, .amazon__product .owl-next {
  background: none;
  border-radius: 0;
  transition: 0.5s;
  padding-left: 15px;
  padding-top: 15px;
}
.amazon__product .owl-nav i, .amazon__product .owl-next i {
  color: #bfbfb8;
  font-size: 20px;
}
.amazon__product .owl-nav i:hover, .amazon__product .owl-next i:hover {
  color: #DF4D3A !important;
}
.amazon__product .owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  padding: 4px 7px;
  margin: 0 !important;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.amazon__product .owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.amazon__product .owl-prev {
  margin-right: 15px !important;
}
.amazon__product .owl-prev::before {
  display: block;
  content: "";
  clear: both;
  border: 1px solid #bfbfb8;
  transform: skew(5deg, 125deg);
  position: relative;
  top: 11px;
  left: 32px;
  width: 90%;
  height: 0;
}
.amazon__product .owl-next {
  margin-left: 20px !important;
}/*# sourceMappingURL=amazon.css.map */