.banner{
	&__box{
		position: relative;
		&-slide{
			.slide__item{
				background-size: cover !important;
				background-repeat: no-repeat !important;
				display: flex;
				align-items: center;
				&-wrap{
					display: flex;
					align-items: center;
					justify-content: center;
					/* padding: 140px 0; */
					min-height: 72vh;
					@include Responsive(MD){
						padding: 120px 0;
					}
					@include Responsive(SM){
						padding: 80px 0;
					}
					@include Responsive(XS){
						padding: 80px 15px;
						flex-wrap: wrap;
					}
					.slide__img{
						width: 100%;
						max-width: 50%;
						order: 2;
						img{
							max-width: 100%;
							transition-delay: .3s;
						}
						@include Responsive(SM){
							padding: 0 20px 0 0px;
						}
						@include Responsive(XS){
							max-width: 100%;
							text-align: center;
							margin-bottom: 20px;
							padding: 0px;
							order: 1;
						}
					}
					.slide__text{
						order: 1;
						width: 100%;
						max-width: 50%;
						padding: 0 30px 0 0px;
						@include Responsive(SM){
							padding: 0 20px 0 0px;
						}
						@include Responsive(XS){
							padding: 0px;
							max-width: 100%;
							margin-bottom: 20px;
							text-align: center;
						}
						&-title{
							font-size: 80px;
							font-weight: 700;
							color: #fff;
							text-shadow: 0px 11px 9px rgb(69 13 4 / 7%);
							span{
								display: block;
    							font-size: 30px;
								mark{
									background: transparent;
									color: #333333;
									padding: 0;
								}
							}
							@include Responsive(MD){
								font-size: 50px !important;
								line-height: 50px;
								span {
									font-size: 21px !important;
								}
							}
							@include Responsive(SM){
								font-size: 32px !important;
								line-height: 36px;
								span{
									font-size: 28px;
								}
							}
						}
						h1{
							font-size: 80px;
							font-weight: 700;
							color: #fff;
							text-shadow: 0px 11px 9px rgb(69 13 4 / 7%);
						}
						&-content{
							font-size: 30px;
							font-weight: 500;
							position: relative;
							padding: 0 0 0 100px;
							color: #ffffff;
							margin-top: 42px;
							&::after{
								content: '';
								position: absolute;
								top: 20px;
								left: 0;
								width: 85px;
								height: 2px;
								background: #ffffff;
								@include Responsive(XL){
									width: 65px;
								}
								@include Responsive(SM){
									display: none;
								}
							}
							@include Responsive(XL){
								font-size: 20px;
							}
							@include Responsive(SM){
								font-size: 16px;
								letter-spacing: 1px;
								margin-top: 29px;
							}
							@include Responsive(XS){
								padding: 0;
							}
						}
						&-link{
							background: whitesmoke;
							font-size: 14px;
							font-weight: 700;
							text-transform: uppercase;
							padding: 13px 25px;
							display: inline-block;
							margin-top: 45px;
							box-shadow: 0px 11px 9px 0px rgb(69 13 4 / 7%);
							transition: .3s linear;
							letter-spacing: 1px;
							border-radius: 4px;
							color: #ff250d;
							&:hover{
								background: #333333;
								color: #ffffff;
							}
							@include Responsive(SM){
								margin-top: 23px !important;
							}
							@include Responsive(MD){
								margin-top: 35px;
							}
						}
					}
				}
			}
		}
		.owl-nav{
			position: absolute;
			top: 50%;
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 0 20px;
			.sldier_arrow_path{
				opacity: 0;
			}
			&:hover{
				opacity: 1;					
			}
			&:hover path#Forma_1, &:hover path#Forma_2{
				fill: #ffdb84;
				opacity: 1;
				transition: all .3s linear;

			}
			.owl-prev{
				fill: #ffffff;
				transform: translateY(-50%);
			}
			.owl-next{
				fill: #ffffff;
				transform: translateY(-50%);
			}
			button{
				&:hover{
					background: transparent !important;
					
				}
			}
		}
	}
}