.banner__box {
  position: relative;
}
.banner__box-slide .slide__item {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
}
.banner__box-slide .slide__item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 140px 0; */
  min-height: 72vh;
}
.banner__box-slide .slide__item-wrap .slide__img {
  width: 100%;
  max-width: 50%;
  order: 2;
}
.banner__box-slide .slide__item-wrap .slide__img img {
  max-width: 100%;
  transition-delay: 0.3s;
}
.banner__box-slide .slide__item-wrap .slide__text {
  order: 1;
  width: 100%;
  max-width: 50%;
  padding: 0 30px 0 0px;
}
.banner__box-slide .slide__item-wrap .slide__text-title {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 11px 9px rgba(69, 13, 4, 0.07);
}
.banner__box-slide .slide__item-wrap .slide__text-title span {
  display: block;
  font-size: 30px;
}
.banner__box-slide .slide__item-wrap .slide__text-title span mark {
  background: transparent;
  color: #333333;
  padding: 0;
}
.banner__box-slide .slide__item-wrap .slide__text h1 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 11px 9px rgba(69, 13, 4, 0.07);
}
.banner__box-slide .slide__item-wrap .slide__text-content {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  padding: 0 0 0 100px;
  color: #ffffff;
  margin-top: 42px;
}
.banner__box-slide .slide__item-wrap .slide__text-content::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 85px;
  height: 2px;
  background: #ffffff;
}
.banner__box-slide .slide__item-wrap .slide__text-link {
  background: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 25px;
  display: inline-block;
  margin-top: 45px;
  box-shadow: 0px 11px 9px 0px rgba(69, 13, 4, 0.07);
  transition: 0.3s linear;
  letter-spacing: 1px;
  border-radius: 4px;
  color: #ff250d;
}
.banner__box-slide .slide__item-wrap .slide__text-link:hover {
  background: #333333;
  color: #ffffff;
}
.banner__box .owl-nav {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.banner__box .owl-nav .sldier_arrow_path {
  opacity: 0;
}
.banner__box .owl-nav:hover {
  opacity: 1;
}
.banner__box .owl-nav:hover path#Forma_1, .banner__box .owl-nav:hover path#Forma_2 {
  fill: #ffdb84;
  opacity: 1;
  transition: all 0.3s linear;
}
.banner__box .owl-nav .owl-prev {
  fill: #ffffff;
  transform: translateY(-50%);
}
.banner__box .owl-nav .owl-next {
  fill: #ffffff;
  transform: translateY(-50%);
}
.banner__box .owl-nav button:hover {
  background: transparent !important;
}/*# sourceMappingURL=banner.css.map */