button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.modal.right .modal-body {
  padding: 15px 15px 80px;
  transition: all 0.6s ease-in-out;
  background: #ecf0f1;
  z-index: 1;
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
}
.modal.right .modal-body .compare__tab {
  padding: 65px 20px 40px;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal.right .modal-body .compare__tab-header ul .compare__item {
  cursor: pointer;
  color: #ff250d;
  padding: 10px 0;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  margin: 0 15px 15px 0;
  text-transform: capitalize;
}
.modal.right .modal-body .compare__tab-content {
  padding: 0 20px;
  position: relative;
  display: block;
}
.modal.right .modal-body .compare__tab-content .compare__box {
  margin-bottom: 30px;
}
.modal.right .modal-body .compare__tab-content .compare__box-item {
  border: 1px solid #ddd;
  padding: 12px 15px;
  margin-bottom: 19px;
  background: #f5f5f5;
  position: relative;
  display: flex;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-icon {
  position: absolute;
  right: 6px;
  top: 0;
  color: #717171;
  font-size: 16px;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-img {
  display: inline-block;
  width: 20%;
  height: auto;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 7px;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-img a img {
  max-width: 100%;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .box__title a {
  color: #000;
  font-size: 14px;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating {
  line-height: 0;
  margin-top: 3px;
  background: none;
  padding: 0;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating .star-rating {
  background: none;
  margin: 0;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating .star-rating-box {
  text-align: left;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content .product__rating i {
  font-size: 11px;
  margin-right: 3px;
}
.modal.right .modal-body .compare__tab-content .compare__box-item .item__box-content p {
  font-size: 14px;
  margin-top: 5px;
}
.modal.right .modal-body .compare__tab-content .compare__btn {
  background-color: #ff250d;
  font-size: 14px;
  font-weight: 700;
  padding: 11px 21px;
  border: 1px solid;
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal.right .modal-body .compare__tab-content .compare__btn i {
  font-size: 15px;
  margin-left: 8px;
}
.modal.right .modal-body .compare__tab-content .btn-primary {
  color: #fff;
}
.modal.right .modal-header {
  padding: 10px;
  background-color: #ff250d;
  transition: top 0.3s 0.3s;
  z-index: 999;
  position: relative;
  top: 0;
  right: 0;
  justify-content: start;
}
.modal.right .modal-header h5 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  position: relative;
}
.modal.right .modal-header button {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #fff;
  transform: translatey(-50%);
  height: inherit;
  width: inherit;
  z-index: 10;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.close:focus, .close:hover {
  opacity: 1;
}

.compare {
  background-color: #f9f9f9;
  padding: 100px 0;
  min-height: 500px;
}
.compare__products {
  display: flex;
  border-top: 1px solid #ddd;
  position: relative;
}
.compare__products-item {
  height: 300px;
}
.compare__products-item + li {
  height: 200px;
}
.compare__products ul {
  padding: 0;
}
.compare__products ul:first-child {
  width: 160px;
  border-right: 0;
}
.compare__products ul .overview {
  height: 70px !important;
  background: #f9f9f9 !important;
  border: none;
}
.compare__products ul li {
  text-align: center;
  background: #fff;
  padding: 15px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.compare__products ul li:last-child {
  border-right: 1px solid #ddd;
  display: list-item;
  height: 300px;
}
.compare__products ul li-count {
  margin-top: 65px;
}
.compare__products ul li i {
  color: #ffaf27;
}
.compare__products ul li h6 {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}
.compare__products ul li p {
  color: #999;
  text-decoration: underline;
  font-weight: 300;
  margin-bottom: 8px;
}
.compare__products ul li .whislist {
  font-size: 20px;
  top: 9px;
  left: 17px;
  color: white;
  position: absolute;
  right: 20px;
  text-align: left;
}
.compare__products-heading {
  padding: 20px 0;
  border-left-color: transparent;
  border-right-color: transparent;
  font-weight: bold;
}
.compare__products .chart__item ul {
  width: 100%;
}
.compare__products .chart__item li {
  background: #fff;
  text-align: center;
}
.compare__products .chart__item li:last-child {
  color: #686868;
  font-weight: 300;
  font-size: 15px;
}
.compare__products .chart__item li h2 {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 0;
  text-align: center;
}
.compare__products .chart__item li h2 a {
  color: #ff250d;
  font-size: 16px;
  font-weight: 500;
}
.compare__products .chart__item li:first-child {
  height: 300px;
}
.compare__products .chart__item li:first-child .blurb-remove {
  position: absolute;
  right: 14px;
  top: 6px;
  color: #b3afaf;
  z-index: 99;
  font-size: 20px;
}
.compare__products .chart__item li:first-child .product__img {
  min-height: 150px;
  max-height: 150px;
  text-align: center;
  margin-top: 23px;
}
.compare__products .chart__item li:first-child .product__img img {
  max-height: 150px;
  width: auto;
}
.compare__products .chart__item li .chart__item-price {
  width: auto;
  margin: 0 auto;
  border: 1px solid #ddd;
  text-align: center;
  padding: 0 11px;
  border-radius: 7px;
  color: #333;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  padding-left: 0;
  overflow: hidden;
}
.compare__products .chart__item li .chart__item-price a {
  border-right: 1px solid #ddd;
  padding: 7px 0;
  padding-right: 11px;
  color: #333;
  margin-right: 10px;
  padding-left: 10px;
}
.compare__products .chart__item-img {
  min-height: 150px;
  max-height: 150px;
  text-align: center;
  margin-top: 23px;
}
.compare__products .chart__item-img img {
  max-height: 150px;
  width: auto;
  margin: 0 auto;
}
.compare__products .chart__item-logo {
  color: #686868;
  font-weight: 300;
  font-size: 15px;
  background: #fff;
  text-align: left;
  height: 200px;
}
.compare__products .chart__item-logo img {
  width: auto;
  display: inline-block;
  margin-bottom: 13px;
  max-height: 36px;
}
.compare__products-carousel {
  width: calc(100% - 160px);
  position: relative;
}/*# sourceMappingURL=compare.css.map */