
button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}
.modal.right {
    .modal-dialog {
        position: fixed;
        margin: auto;
        width: 400px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    }
    .modal-content {
        height: 100%;
        overflow-y: auto;
        border: none;
        box-shadow: none;
        border-radius: 0;
    }

    .modal-body {
        padding: 15px 15px 80px;
        transition: all .6s ease-in-out;
        background: #ecf0f1;
        z-index: 1;
        position: fixed;
        width: 400px;
        height: 100%;
        top: 0;
        .compare__tab{
            padding: 65px 20px 40px;
            box-sizing: border-box;
            overflow: auto;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            &-header{
                ul{
                    .compare__item{
                        cursor: pointer;
                        color: #ff250d;
                        padding: 10px 0;
                        font-size: 15px;
                        line-height: 15px;
                        display: inline-block;
                        margin: 0 15px 15px 0;
                        text-transform: capitalize;
                    }
                }
            }
            &-content{
                padding: 0 20px;
                position: relative;
                display: block;
                .compare__box{
                    margin-bottom: 30px;
                    &-item{
                        border: 1px solid #ddd;
                        padding: 12px 15px;
                        margin-bottom: 19px;
                        background: #f5f5f5;
                        position: relative;
                        display: flex;
                        .item__box-icon{
                            position: absolute;
                            right: 6px;
                            top: 0;
                            color: #717171;
                            font-size: 16px;
                        }
                        .item__box-img{
                            display: inline-block;
                            width: 20%;
                            height: auto;
                            vertical-align: top;
                            margin-right: 10px;
                            margin-top: 7px;
                            a{
                                img{
                                    max-width: 100%;
                                }
                            }
                        }
                        .item__box-content{
                            display: inline-block;
                            vertical-align: top;
                            width: 75%;
                            .box__title{
                                a{
                                    color: #000;
                                    font-size: 14px;
                                }
                            }
                            .product__rating{
                                line-height: 0;
                                margin-top: 3px;
                                background: none;
                                padding: 0;
                                .star-rating{
                                    background: none;
                                    margin: 0;
                                    &-box{
                                        text-align: left;
                                    }
                                }
                                i{
                                    font-size: 11px;
                                    margin-right: 3px;
                                }
                            }
                            p{
                                font-size: 14px;
                                margin-top: 5px;
                            }
                        }
                    }

                }
                .compare__btn{
                    background-color: #ff250d;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 11px 21px;
                    border: 1px solid;
                    border-color: transparent;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    i{
                        font-size: 15px;
                        margin-left: 8px;
                    }
                }
                .btn-primary{
                    color: #fff
                }
            }
        }
    }

    .modal-header{
        padding: 10px;
        background-color: #ff250d;
        transition: top 0.3s 0.3s;
        z-index: 999;
        position: relative;
        top: 0;
        right: 0;
        justify-content: start;
        h5 {
            font-size: 18px;
            color: #fff;
            font-weight: 500;
            position: relative;
        }
        button{
            position: absolute;
            top: 50%;
            right: 20px;
            color: #fff;
            -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
            height: inherit;
            width: inherit;
            z-index: 10;
        }
    }
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}
.close:focus, .close:hover{
    opacity: 1;
}
.compare {
    background-color: #f9f9f9;
    padding: 100px 0;
    min-height: 500px;
    &__products{
        display: flex;
        border-top: 1px solid #ddd;
        position: relative;
        &-item{
            height: 300px;
        }
        &-item + li {
            height: 200px;
        }
        ul {
            padding: 0 ;
            &:first-child{
                width: 160px;
                border-right: 0;
            }
            .overview{
                height: 70px !important;
                background: #f9f9f9 !important;
                border: none;
            }
            li{
                text-align: center;
                background: #fff;
                padding: 15px;
                border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                position: relative;
                &:last-child{
                    border-right: 1px solid #ddd;
                    display: list-item;
                    height: 300px;
                }
                &-count{
                    margin-top: 65px;
                }
                i{
                    color: #ffaf27;
                }
                h6 {
                    font-size: 16px;
                    color: #333;
                    font-weight: 400;
                }
                p{
                    color: #999;
                    text-decoration: underline;
                    font-weight: 300;
                    margin-bottom: 8px;
                }
                .whislist{
                    font-size: 20px;
                    top: 9px;
                    left: 17px;
                    color: white;
                    position: absolute;
                    right: 20px;
                    text-align: left;
                }
            }
        }
        &-heading{
            padding: 20px 0;
            border-left-color: transparent;
            border-right-color: transparent;
            font-weight: bold;
        }
        .chart__item{
            ul {
                width: 100%;
            }
            li{
                &:last-child{
                    // border-right: 1px solid #ddd;
                    color: #686868;
                    font-weight: 300;
                    font-size: 15px;
                }
                background: #fff;
                text-align: center;
                h2{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 11px 0;
                    text-align: center;
                    a{
                        color: #ff250d;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                &:first-child{
                    height: 300px;
                    .blurb-remove{
                        position: absolute;
                        right: 14px;
                        top: 6px;
                        color: #b3afaf;
                        z-index: 99;
                        font-size: 20px;
                    }
                    .product__img{
                        min-height: 150px;
                        max-height: 150px;
                        text-align: center;
                        margin-top: 23px;
                        img{
                            max-height: 150px;
                            width: auto;
                        }
                    }
                }
                .chart__item-price{
                    width: auto;
                    margin: 0 auto;
                    border: 1px solid #ddd;
                    text-align: center;
                    padding: 0 11px;
                    border-radius: 7px;
                    color: #333;
                    font-weight: 500;
                    font-size: 12px;
                    display: inline-block;
                    text-align: center;
                    padding-left: 0;
                    overflow: hidden;
                    a{
                        border-right: 1px solid #ddd;
                        padding: 7px 0;
                        padding-right: 11px;
                        color: #333;
                        margin-right: 10px;
                        padding-left: 10px;
                    }
                }

            }
            &-img{
                min-height: 150px;
                max-height: 150px;
                text-align: center;
                margin-top: 23px;
                img {
                    max-height: 150px;
                    width: auto;
                    margin: 0 auto;
                }
            }
            &-logo{
                color: #686868;
                font-weight: 300;
                font-size: 15px;
                background: #fff;
                text-align: left;
                height: 200px;
                img{
                    width: auto;
                    display: inline-block;
                    margin-bottom: 13px;
                    max-height: 36px;
                }
            }
        }
        &-carousel{
            width: calc(100% - 160px);
            position: relative;
        }
        
    }
}