.ebay__title {
  text-align: center;
}
.ebay__subtitle {
  color: #605b5b;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: center;
}
.ebay .amazon__product .owl-prev::before {
  display: none;
}
.ebay .amazon__product .owl-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.ebay .amazon__line-small.left {
  left: 0;
}/*# sourceMappingURL=ebay.css.map */