.ebay {
    &__title{
        text-align: center;
    }
    &__subtitle{
        color: #605b5b;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.3px;
        text-align: center;
    }
    .amazon__product {
        .owl-prev{
            &::before{
                display: none;
            }
        }
        .owl-nav{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }
    .amazon__line {
        &-small.left{
            left: 0
        }
    }
}   