.footer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #111111;
    padding: 80px 0;
    font-size: 14px;
    &__widget{
        &-about{
            max-width: 318px;
            a{
                color: #696565;
                font-size: 14px;
                font-weight: 400;
                position: relative;
            }
        }
        &-text{
            p{
                color: #bfbfbf;
                font-size: 14px;
                line-height: 30px;
                margin-top: 30px;
            }
        }
        &-social{
            margin-top: 22px;
            display: flex;
            align-items: center;
            a{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                line-height: 40px;
                text-align: center;
                color: #ffffff;
                background: #5d5d5d;
                font-size: 14px;
                margin-right: 6px;
                line-height: 41px;
                margin-bottom: 10px;
                i {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        a, p{
            color: #aeabab;
        }
        &-nav{
            .widget-title{
                color: #e1e0e0;    
                margin-bottom: 45px;
                font-weight: 700;
                font-size: 16px;
                margin-top: 24px;
                font-family: 'Rubik', sans-serif;
                letter-spacing: 0.3px;
            }
            ul{
                margin-top: -5px;
                padding-left: 0px;
                li {
                    &:not(:last-child){
                        margin-bottom: 12px;
                    }
                }
            }
            .widget-menu{
                max-width: 400px;
                margin: auto;
                overflow: hidden;
                padding-top: 20px;
                padding-bottom: 20px;
                display: flex;
                &:not(:last-child){
                    border-bottom-color: rgba(54, 54, 54, .49);
                    border-bottom: 1px solid;
                }
                &-img{
                    max-width: 65px;
                    background-color: #edecec;
                    width: 27%;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                &-content{                    
                    width: 70%;
                    padding-left: 12px;
                    a{
                        line-height: 26px;
                        color: #696565;
                        font-size: 14px;
                        font-weight: 400;
                        position: relative;
                    }
                    .star-rating{
                        margin-top: -5px;
                        margin-left: 0;
                        padding-left: 0;
                        background: transparent;
                    }
                }
            }
            .widget-custom{
                &-text{
                    margin-top: -4px;
                    margin-bottom: 20px;
                }
                &-letter{
                    form {
                        padding: 0!important;
                        background: transparent;
                        display: block;
                        position: relative;
                        text-align: left;
                        .form-control{
                            width: 100%!important;
                            padding-bottom: 0!important;
                            min-height: auto!important;
                            margin-bottom: 10px;
                            padding: 0 8px;
                            input{
                                font-size: 12px;
                                line-height: 30px;
                                color: #909090;
                                background: #ffffff;
                                width: 100%;
                                border-radius: 0;
                                height: auto;
                                text-indent: 2%;
                                border: none;
                                outline: none;
                                &:focus-visible{
                                    outline: none;
                                    border: none;
                                }
                            }                            
                        }
                        button {
                            background-color: #ff250d;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 30px;
                            color: #ffffff;
                            width: 100%;
                            border-radius: 0;
                            height: 45px;
                            padding: inherit;
                            border-color: transparent;
                            cursor: pointer;
                            text-transform: uppercase;
                            transition: all .3s linear;
                            margin: 0;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    &__banner{
        background-image: url(https://themeim.com/wp/blurb/wp-content/uploads/2019/05/call_to_action-4.jpg);
        background-color: #ffffff;
        background-size: cover;
        padding: 35px 0;
        background-repeat: no-repeat;
        background-position: center;
        &-title{
            color: #f7f7f7;
            font-size: 32px;
            font-weight: 500;
            text-transform: uppercase;
            span {
                color: #ff250d;
                font-size: 32px;
                font-weight: 500;
                text-transform: uppercase;
            }
            span + span {
                display: block;
                font-size: 16px;
                font-weight: 300;
                color: #d7d6d6;
                margin-top: 15px;
                text-transform: capitalize;
            }
        }
        &-buy {
            a {
                background-color: #ff250d;
                font-size: 14px;
                font-weight: 700;
                padding: 11px 21px;
                border: 1px solid;
                border-color: transparent;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #fff;
            }
        }
    }
}