.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #111111;
  padding: 80px 0;
  font-size: 14px;
}
.footer__widget-about {
  max-width: 318px;
}
.footer__widget-about a {
  color: #696565;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.footer__widget-text p {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 30px;
  margin-top: 30px;
}
.footer__widget-social {
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.footer__widget-social a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #5d5d5d;
  font-size: 14px;
  margin-right: 6px;
  line-height: 41px;
  margin-bottom: 10px;
}
.footer__widget-social a i {
  width: 100%;
  height: 100%;
}
.footer__widget a, .footer__widget p {
  color: #aeabab;
}
.footer__widget-nav .widget-title {
  color: #e1e0e0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 24px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.3px;
}
.footer__widget-nav ul {
  margin-top: -5px;
  padding-left: 0px;
}
.footer__widget-nav ul li:not(:last-child) {
  margin-bottom: 12px;
}
.footer__widget-nav .widget-menu {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.footer__widget-nav .widget-menu:not(:last-child) {
  border-bottom-color: rgba(54, 54, 54, 0.49);
  border-bottom: 1px solid;
}
.footer__widget-nav .widget-menu-img {
  max-width: 65px;
  background-color: #edecec;
  width: 27%;
}
.footer__widget-nav .widget-menu-img img {
  max-width: 100%;
  height: auto;
}
.footer__widget-nav .widget-menu-content {
  width: 70%;
  padding-left: 12px;
}
.footer__widget-nav .widget-menu-content a {
  line-height: 26px;
  color: #696565;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.footer__widget-nav .widget-menu-content .star-rating {
  margin-top: -5px;
  margin-left: 0;
  padding-left: 0;
  background: transparent;
}
.footer__widget-nav .widget-custom-text {
  margin-top: -4px;
  margin-bottom: 20px;
}
.footer__widget-nav .widget-custom-letter form {
  padding: 0 !important;
  background: transparent;
  display: block;
  position: relative;
  text-align: left;
}
.footer__widget-nav .widget-custom-letter form .form-control {
  width: 100% !important;
  padding-bottom: 0 !important;
  min-height: auto !important;
  margin-bottom: 10px;
  padding: 0 8px;
}
.footer__widget-nav .widget-custom-letter form .form-control input {
  font-size: 12px;
  line-height: 30px;
  color: #909090;
  background: #ffffff;
  width: 100%;
  border-radius: 0;
  height: auto;
  text-indent: 2%;
  border: none;
  outline: none;
}
.footer__widget-nav .widget-custom-letter form .form-control input:focus-visible {
  outline: none;
  border: none;
}
.footer__widget-nav .widget-custom-letter form button {
  background-color: #ff250d;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #ffffff;
  width: 100%;
  border-radius: 0;
  height: 45px;
  padding: inherit;
  border-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s linear;
  margin: 0;
  border-radius: 3px;
}
.footer__banner {
  background-image: url(https://themeim.com/wp/blurb/wp-content/uploads/2019/05/call_to_action-4.jpg);
  background-color: #ffffff;
  background-size: cover;
  padding: 35px 0;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__banner-title {
  color: #f7f7f7;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer__banner-title span {
  color: #ff250d;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer__banner-title span + span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #d7d6d6;
  margin-top: 15px;
  text-transform: capitalize;
}
.footer__banner-buy a {
  background-color: #ff250d;
  font-size: 14px;
  font-weight: 700;
  padding: 11px 21px;
  border: 1px solid;
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}/*# sourceMappingURL=footer.css.map */