#lightSlider {
    li {
        background: #f8f8f8;
        text-align: center;
        padding: 0 18px;
        @include Responsive(XS){
            padding: 0;
        }
        img{
            max-width: 100%;
            height: 500px;
        }
    }
}
.lSAction{
    display: none !important;
}
#lightSlider .lSGallery img {
    height: auto;
    max-width: 100%;
    display: block;
}
.lSGallery {
    li {
        background: #f8f8f8;
        text-align: center;
        a{
            display: inline-block;
            img {
                display: inline-block;
                transform: scale(.8);
                height: auto;
                max-width: 100%;
                height: 95px !important;
            }
        }
    }
}

.product__slide{
    &-title{
        margin: 0;
        h2{
            font-size: 26px;
            line-height: 26px;
            font-weight: 500;
            letter-spacing: .1px;
            color: #343434;
            margin: 0;
            text-transform: capitalize;
            margin: 0;
            @include Responsive(SM){
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    &-evaluate{
        padding: 19px 19px 19px 0;
        border-bottom: 1px solid #f5f5f5;
        ul {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;
            li{
                &:first-child{
                    padding-left: 0;
                }
                display: inline-block;
                position: relative;
                padding: 0 8px;
                @include Responsive(SM){
                    padding: 0 5px;
                }
                .p{
                    font-size: 13px;
                    line-height: 22px;
                    font-weight: 500;
                    color: #7a7878;
                    span {
                        color: #000000;
                    }
                }
                &:not(:last-child)::after{
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translate(-50%, -50%);
                    content: '';
                    height: 12px;
                    width: 2px;
                    background: #c3c3c3;
                }
                .star-rating{
                    margin: 0;
                    width: 100%;
                }
            }
        }
        .product__slide-whislist{
            display: flex;
            align-items: center;
            .whislist__heart{
                background: #ff250d;
                margin-right: 5px;
            }
            a{
                width: 33px;
                height: 34px;
                line-height: 37px;
                border-radius: 3px;
                text-align: center;
                background: #cecece;
                display: inline-block;
                -webkit-transition: all .3s;
                transition: all .3s;
                padding: 0;
                border: none;
                font-size: 100%;
                vertical-align: baseline;
                i{
                    font-size: 16px;
                    color: #ffffff;
                }
            }
        }
    }
    &-description{
        padding: 28px 0 14px;
        @include Responsive(MD){
            padding: 24px 0 20px;
        }
        li{
            font-size: 14px;
            font-weight: 300;
            color: #000000;
            letter-spacing: 1.1px;
            line-height: 28px;
        }
    }
    &-publicer{
        display: flex;
        align-items: center;
        padding: 14px 0 25px;
        border-bottom: 1px solid #ebebeb;
        .im-publicer{
            font-size: 13px;
            line-height: 22px;
            color: #3c3c3c;
            a {
                color: #e05647;
            }
        }
    }
    &-market{
        padding: 15px;
        background: #f5f5f5;
        margin-top: 29px;
        height: 334px;
        overflow-y: scroll;
        @include Responsive(MD){
            height: auto;
            overflow-y: hidden;
        }
        li{
            &:not(:last-child){
                margin-bottom: 15px;
            }
            display: flex;
            align-items: center;
            background: #ffffff;
            padding-right: 20px;
            position: relative;
            overflow-x: hidden;
            .product__logo{
                width: 120px;
                text-align: center;
                line-height: 92px;
                border-right: 1px solid #f8f8f8;
                img{
                    transform: scale(.7);
                }
            }
            .product__price{
                border-right: 1px solid;
                border-color: #bbbbbb;                
                &-min, &-{
                    color: #e05647;
                }                
            }
            .product__price-active{
                @include Responsive(MD){
                    font-size: 15px;
                    font-weight: 700;
                    padding: 0 13px 0 13px;
                }
                @include Responsive(XS){
                    font-size: 14px;
                    padding: 0 15px 0 15px;
                }
            }
            .p{
                font-size: 14px;
                font-weight: 700;
                padding: 0 15px 0 15px;
                line-height: 17px;
            }
            .im-btn-1{
                font-size: 14px;
                font-weight: 700;
                padding: 5px 15px;
                background: #484848;
                color: #ffffff;
                display: inline-block;
                border-radius: 4px;
                @include Responsive(MD){
                    padding: 7px 10px;
                }
                @include Responsive(XS){
                    font-size: 12px;
                    padding: 5px 7px;
                }
            }
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #000000;
        }
        &::-webkit-scrollbar-track {
            border-radius: 4px;
            -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar{
            width: 6px;
            background-color: #F5F5F5;
        }
    }
}
.modal-header {
    justify-content: flex-end;
    border-bottom: 0;
    padding-bottom: 0;
}
.modal-dialog-centered{
    padding: 21px;
    min-height: 750px;
    @include Responsive(MD){
        width: 93%;
        height: 510px;
        overflow: scroll;
    }
    @include Responsive(SM){
        width: 500px;
        height: 400px;
        overflow: scroll;
    }
    @include Responsive(XS){
        width: 350px;
        height: 300px;
        overflow: scroll;
    }
}
.modal-content{
    border: 8px solid #ddd;
    box-shadow: 0px 0px 29.12px 2.88px rgb(69 68 68 / 3%);
    margin-bottom: 30px;
    
}