.product__slide-title h2 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #343434;
  margin-bottom: 7px;
  text-transform: capitalize;
}/*# sourceMappingURL=modal.css.map */