.purchase {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
}
.purchase__step {
  background-color: #f7f7f7;
  display: flex;
  flex-basis: 25%;
  position: relative;
  padding: 30px 20px 30px 35px;
  justify-content: center;
  transition: 0.5s;
  align-items: center;
}
.purchase__step:first-child {
  padding-left: 18px;
}
.purchase__step-img {
  max-width: 25%;
}
.purchase__step-img img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.purchase__step-content {
  padding-left: 23px;
  max-width: 75%;
}
.purchase__step-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #383737;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
.purchase__step-arow {
  position: absolute;
  top: 0;
  right: -30px;
  height: 100%;
  z-index: 10;
}
.purchase__step-arow img {
  height: 100%;
}
.purchase__step:hover .purchase__step-img img {
  transform: translateY(2px);
  transition: 0.5s;
}
.purchase__step-content {
  padding: 0 10px 0 0;
  margin-right: auto;
  max-width: 75%;
}
.purchase__step-content h3 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-left: 25px;
}
.purchase .step-active {
  background-color: #f7f7f7;
  background-image: url(https://themeim.com/wp/blurb/wp-content/uploads/2019/05/New_Home_1.png);
  background-size: cover;
}
.purchase .step-active .purchase__step-img {
  margin-left: auto;
}/*# sourceMappingURL=purchase.css.map */