.purchase{
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 40px;
    @include Responsive(XS){
        padding: 30px 15px;
    }
    &__step{
        background-color: #f7f7f7;
        &:first-child{
            padding-left: 18px;
        }
        display: flex;
        flex-basis: 25%;
        position: relative;
        padding: 30px 20px 30px 35px;
        justify-content: center;
        transition: 0.5s;
        align-items: center;
        &-img{
            padding: 0;
            margin: 0;
            max-width: 25%;
            img{
                height: auto;
                max-width: 100%;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }
        }
        &-content{
            padding-left: 23px !important;
            max-width: 75% !important;
            h3{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                color: #383737;
                font-family: 'Rubik', sans-serif;
                letter-spacing: 1px;
            }
            @include Responsive(MD){
                transform: translateX(0);
            }
        }
        &-arow{
            position: absolute;
            top: 0;
            right: -30px;
            height: 100%;
            z-index: 10;
            img{
                height: 100%;
            }
            @include Responsive(MD){
                display: none;
            }
        }
        &:hover .purchase__step-img img{
            transform: translateY(2px);
            transition: 0.5s;
        }     
        @include Responsive(MD){
            flex-basis: 50%;
        }   
        @include Responsive(SM){
            flex-basis: 100%;
        }
        &:not(:last-child){
            // margin-bottom: 15px;
        }
        &:not(.step-active){
            // padding: 30px 15px 30px 15px;
        }
        
    }
    .step-active{
        background-color: #f7f7f7;
        background-image: url(https://themeim.com/wp/blurb/wp-content/uploads/2019/05/New_Home_1.png);
        background-size: cover;
        .purchase__step-img{
            margin-left: auto;
        }

        .purchase__step-content{
            padding: 0 10px 0 0;
            margin-right: auto;
            h3{
                color: white;
                font-size: 16px;
                font-weight: 700;
                margin: 0;
                padding-left: 25px;
            }
        }
    }
}