.service {
  background-color: #f3f0f0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 15px 70px 15px;
  position: relative;
}
.service__box {
  display: flex;
  background: #fff;
  padding: 38px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  transform: translateY(0);
}
.service__box:hover {
  box-shadow: 0px 8px 16px 0px rgba(130, 156, 199, 0.2);
  transform: translateY(-10px);
}
.service__box:hover::before {
  width: 0;
}
.service__box:hover::after {
  width: 100%;
}
.service__box:hover .service__box-hover img {
  transform: scale(1.3);
}
.service__box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.5s;
}
.service__box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 2px;
  transition: 0.5s;
}
.service__box img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.service__box-text {
  margin-left: 15px;
}
.service__box-text h5 {
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.25px;
  font-weight: bold;
}
.service__box-hover {
  position: absolute;
  right: 0;
  bottom: 0;
}
.service__box-hover img {
  transition: 0.5s;
  height: auto;
  max-width: 100%;
  border: none;
}
.service .row .col-6:nth-child(1) .service__box::before, .service .row .col-6:nth-child(1) .service__box::after {
  background: #19b2f7;
}
.service .row .col-6:nth-child(2) .service__box::before, .service .row .col-6:nth-child(2) .service__box::after {
  background: #f7cf00;
}
.service .row .col-6:nth-child(3) .service__box::before, .service .row .col-6:nth-child(3) .service__box::after {
  background: #ff6969;
}
.service .row .col-6:nth-child(4) .service__box::before, .service .row .col-6:nth-child(4) .service__box::after {
  background: #00c9e2;
}/*# sourceMappingURL=service.css.map */