.service{
    background-color: #f3f0f0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 15px 70px 15px;
    position: relative;
    &__box{
        display: flex;
        background: #fff;
        padding: 38px 20px;
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
        overflow: hidden;
        transition: 0.5s;
        transform: translateY(0);
        &:hover{
            box-shadow: 0px 8px 16px 0px rgb(130 156 199 / 20%);
            transform: translateY(-10px);
            &::before{
                width: 0;
            }
            &::after{
                width: 100%;
            }
            & .service__box-hover{
                img {
                    transform: scale(1.3);
                }
            }
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            transition: 0.5s;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0%;
            height: 2px;
            transition: 0.5s;
        }
        img {
            height: auto;
            max-width: 100%;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }
        &-text{
            margin-left: 15px;
            h5{
                color: #333333;
                font-size: 16px;
                letter-spacing: .25px;
                font-weight: bold;
            }
        }
        &-hover{
            position: absolute;
            right: 0;
            bottom: 0;
            img {
                transition: 0.5s;
                height: auto;
                max-width: 100%;
                border: none;
            }
        }
    } 
    .row {
        .col-6{
            &:nth-child(1){
                .service__box {
                    &::before, &::after{
                        background: #19b2f7;
                    }
                    
                }
            }
            &:nth-child(2){
                .service__box {
                    &::before, &::after{
                        background: #f7cf00;
                    }
                    
                }
            }
            &:nth-child(3){
                .service__box {
                    &::before, &::after{
                        background: #ff6969;
                    }
                    
                }
            }
            &:nth-child(4){
                .service__box {
                    &::before, &::after{
                        background: #00c9e2;
                    }
                    
                }
            }
        }
    }  
}