a {
  transition: 0.5s;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin: 0;
}

body, button, input, select, optgroup, textarea {
  color: #666666;
  font-family: sans-serif;
  line-height: 1.8;
}

.p0 {
  padding: 0;
}

.blurb-remove {
  color: #aba9a9;
}

body {
  font-family: "Roboto", sans-serif;
  color: #646464;
  margin: 0;
  font-size: 16px;
  font-variant-ligatures: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.blurb-price-color {
  color: #ff250d;
}

.star-rating {
  overflow: hidden;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  margin-top: -30px;
  z-index: 99995;
  position: relative;
  padding: 5px 5px;
  margin-bottom: 15px;
  line-height: 23px;
  font-size: 13px;
}
.star-rating-box {
  margin-left: 5px;
  position: relative;
  line-height: 22px;
  font-size: 13px;
  text-align: center;
}
.star-rating i {
  margin-right: 4px;
  font-size: 14px;
  line-height: 20px;
}

.star-rating i, .wishlist-ratings {
  color: #ffa200;
}

.wishlist-ratings {
  font-size: 20px;
  font-weight: 700;
}

.wd-btn-search:hover, .fst-color-border, .header-cart .wd-compare-btn .go-compare-page:hover, #wd-header-2 .wd-search-btn:hover, .add-review-btn:hover, .review-comment:hover, .product-detail-collapse:hover, .product-detail-collapse:active, .select-market-btn:hover, .compare-products .select-market-btn:hover, .product-box:hover .compare-btn a, .compare-btn a:hover, .footer-2.footer .newsletter-btn:hover, .footer .newsletter-btn:hover, .subscribe .subscribe-btn:hover, .wd-search-btn:hover, .amazon-review .amazon-details, .review-page .cat-search-ph input:focus, .product-search-input input:focus, .contact-us .wd-contact-btn:hover, .blurb-paginate ul li:last-child a:hover, .blurb-paginate ul li:first-child a:hover, .weekly-news .weekly-news-box:hover .figure-caption, .wishlist-compare-products .select-market-btn:hover, .blog-section .collapse-category, .coupon-feedback a.mod-store-btn, .coupon-soc li:hover, #wd-header .wd-search-btn:hover, #wd-header-2 .wd-search-btn:hover, button.go-back:hover, .footer-2.footer .newsletter-btn:hover, #subscribe .subscribe-btn:hover, .review-comment:hover, .product-detail-collapse:hover, .product-detail-collapse:active, .wd-search-btn, .review-page #cat-search-ph input:focus, .product-search-input .wd-btn-search, .select-market-btn, #contact-us .wd-contact-btn:hover, .product-view-modal .product-view .owl-dots .active, .wd-tab-section .wd-tab-menu, .product-search-input .wd-btn-search:hover, .btn.btn-primary.wd-shop-btn:hover, .blurb-post-container .single_post_share a:hover, .product-review-details .single_review_share a:hover, .elementor-widget-im-sec-product-and-review .product_wrap a:hover, .blurb-blog-container .sticky .blog-box, .blurb-home-container .sticky .blog-box, .blurb-archive-container .sticky .blog-box, .blurb-search-container .sticky .blog-box, .comment-content blockquote, .blog-content blockquote, .blog-content .wp-block-quote:not(.is-large), .blog-content .wp-block-quote:not(.is-style-large), .wp-block-pullquote blockquote, blockquote, .post-password-form input[type=submit], .combine_header .is-sticky #main-menu, .radius-icon, #main-menu-sticky-wrapper, .page-links a span:hover, .page-links span, .wd-header-nav, .header-general #main-menu, .tab-chart-bord .nav-item a.active, .wd-megamenu ul ul {
  border-color: #ff250d;
}

.wd-shop-btn, .fst-color-bg, #scrollUp:hover, .quick-view-btn:hover .compare-btn button, .compare-btn a, .wd-btn-search:hover, .header-cart .wd-compare-btn .go-compare-page:hover, .product-slier-details .lSAction a:hover:after, .product-slier-details .lSAction a:hover:before, .header-cart .wd-compare-btn .go-compare-page:hover, .login-form .wd-login-btn, #wd-header-2 .wd-search-btn:hover, .blurb_el_main_slider .slider_box .slider_item .slider_item_wrap .im-link, .footer a:before, .footer-2.footer .newsletter-btn, .footer .newsletter-btn, .sidebar-search .btn-secondary:hover, .filter .dropdown-item:active, .preload, .sidebar-review-box .owl-theme .owl-nav .owl-next:hover, .product-details .choose-markets .select-market-btn:hover, .wd-star-market-badge, .product-detail-collapse:hover, .product-detail-collapse:active, .review-page-section .active, .select-market-btn:hover, .amazon-review .amazon-details:hover, .compare-products .select-market-btn:hover, .add-review-btn:hover, .wd-tab-section .wd-tab-menu a:hover, .wd-tab-section .wd-tab-menu .active, .trending .owl-theme .owl-nav .owl-prev:hover, .trending .owl-theme .owl-nav .owl-next:hover, .contact-us .wd-contact-btn:hover, .wishlist-compare-products .select-market-btn:hover, .blog-section .archive-option a:before, #wd-header-top .dropdown-item:active, .blurb-paginate a:hover, .blurb-paginate ul li.active a, .weekly-news .weekly-news-box:hover .weekly-news-shape, .weekly-news .blog-meta-box a:hover, .blog-section .collapse-category, .csb-inner input[type=submit], .coupon-sin-sidebar h2::after, .aff-buynow, .f3 .aff-buynow, .pro-plan-con > a, button.go-back, #wd-header .wd-search-btn:hover, #wd-header-2 .wd-search-btn:hover, .blurb_el_main_slider .slider_full .slider_item .slider_item_wrap .im-link, .widget .title::after, .widget_tag_cloud a:hover, .copyright-text a:after, .footer-2.footer .newsletter-btn, .footer .newsletter-btn, #trending .owl-prev:hover, #trending .owl-next:hover, .wd-news-box:hover .wd-news-info::after, .sidebar-search .btn-secondary:hover, .product-details .choose-markets .select-market-btn:hover, .wd-bg-yellow, .star-view-market .wd-star-market-badge, .review-comment:hover, .product-detail-collapse:hover, .product-detail-collapse:active, .product-reviews-page .active, .wd-search-btn, .compare-products .compare-details-section .compare-details-btn:hover, .product-search-input .wd-btn-search, .select-market-btn, #contact-us .wd-contact-btn:hover, .radius-icon-area:hover .radius-icon, .widget_search .btn-secondary:hover, input[type=submit], .active .compare-bar-header, .blog-section .blog-date, .filter .dropdown-item:active, .blurb_el_categories .categories_wrap .cat_tiem:after, .footer_about .footer_social_link a:hover, .product-reviews-page .review-btn:after, .btn_load_more:hover, #bsmenu:before, #commentform #submit:hover, .save_coupon_details:hover, .content_product_4 .content_product_item .item_status .price a, .blurb-market-compare-banner .banner-content.text-left:after, .blurb-post-container .single_post_share a:hover, .product-review-details .single_review_share a:hover, .review-slider-section .review-search-slider-section .collapse_search_btn, .footer-widgets #mc_embed_signup input[type=submit], .elementor-widget-im-sec-product-and-review .product_wrap a, .blurb_el_contact .contact_form_wrap #mc_embed_signup .button:hover, .wp-block-button .wp-block-button__link, #bmenu .megamenu .sub-column-item > a:before, #bsmenu ul .sub-column-item > a:before, .blurb_el_header.header_divider h2:after {
  background-color: #ff250d;
}

#scrollUp {
  bottom: 60px;
  right: 20px;
  line-height: 55px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #544e70;
  color: #fff;
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
}

#scrollUp.show {
  opacity: 1;
  visibility: visible;
}

.close, .close:focus {
  opacity: 1;
}

.theme_ul, .theme_li {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}/*# sourceMappingURL=variable.css.map */