.weekly{
    &__title{
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 0px 15px 45px 15px;
    }
    &__content{
        &-top{
            img{
                max-width: 100%;
                height: auto;
            }
        }
        &-caption{
            background: transparent;
            transition: all .3s;
            border: 1px solid #f2f2f2;
            padding: 0 0;
            .weekly__info{
                border-bottom: 1px solid #e9e9d3;
                padding: 0 20px;
                ul {
                    padding: 15px 0 17px;
                    margin: 0;
                    li {
                        display: inline-block;
                        color: #999;
                        font-size: 12px;
                        border-right: 2px solid #aeaeae;
                        padding-right: 15px;
                        margin-right: 13px;
                        line-height: 14px;
                        &:first-child{
                            span {
                                color: #e05547;
                                letter-spacing: 0.5px;
                                font-weight: bold;
                            }
                        }
                        span{
                            font-weight: 700;
                                color: #000000;
                                letter-spacing: 0.3px;
                        }
                        a{
                            color: #909090;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        &:last-child{
                            border-right: 2px solid transparent;
                            margin-right: 0;
                            padding-right: 0;
                        }
                        @include Responsive(XS){
                            padding-right: 7px;
                            margin-right: 7px;
                        }
                    }
                    @include Responsive(SM){
                        padding: 10px 0;
                    }
                }
            }
            .weekly__blog{
                display: inline-block;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                font-size: 16px;
                color: #333333;
                line-height: 26px;
                font-weight: 700;
                margin: 20px 20px 0;
                @include Responsive(XS){
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            .weekly__description{
                padding: 10px 20px 20px;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                @include Responsive(XS){
                    font-size: 13px;
                    color: #616161;
                }
                a{
                    font-size: 14px;
                    font-weight: 400;
                    color: #616161;
                    line-height: 30px;
                }
                
            }
        }
    }
}