.top__bar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000000;
}
.top__bar-media {
  height: 100%;
  display: flex;
  align-items: center;
}
.top__bar-media a {
  color: #fff;
}
.top__bar-media a:not(:last-child) {
  margin-right: 10px;
}
.top__bar-text {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}
.top__bar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__bar-right button {
  margin-right: 10px;
  padding: 15px 20px;
  border: none;
  border-radius: 0;
  background-color: red;
  color: #fff;
}
.top__bar-right .account__section {
  margin-left: 10px;
}
.top__bar-right .account__section select {
  font-size: 12px;
  font-weight: bold;
}

.center__bar {
  padding: 35px 0;
}
.center__bar .logo img {
  width: 50%;
  max-width: 100%;
}
.center__bar-search {
  height: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.center__bar-search .header__search-form {
  width: 90%;
  outline: none;
  border: 1px solid #ebebeb;
  background: #f7f7f7;
  font-size: 14px;
  padding: 14px 18px;
  border-radius: 4px;
  color: #565656;
  letter-spacing: 0.1px;
  color: #333333;
}
.center__bar-search .header__search-form:focus {
  background-color: whitesmoke;
  border-color: #ececec;
}
.center__bar-search .header__search-icon {
  height: 100%;
}
.center__bar-search .header__search-icon button {
  height: 100%;
  padding: 15px 18px;
  border: 1px solid #ebebeb;
  line-height: 1.25;
  border-radius: 0.25rem;
  background: #f7f7f7;
  color: #ff250d;
  transition: all 0.15s ease-in-out;
}
.center__bar-search .header__search-icon button:hover {
  background-color: #ff250d;
  color: #ebebeb;
}
.center__bar-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.center__bar-cart a {
  font-size: 17px;
  color: #333333;
  position: relative;
}
.center__bar-cart a:not(:last-child) {
  margin-right: 26px;
}
.center__bar-cart a .count {
  background-color: #ff250d;
  position: absolute;
  top: -3px;
  right: -9px;
  width: 12px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  padding: 1px;
  border-radius: 10px;
  line-height: 12px;
}

.navigation {
  width: 100%;
  height: 70px;
  display: table;
  position: relative;
  font-family: inherit;
  background-color: #fff;
}
.navigation * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.navigation-portrait {
  height: 48px;
}
.navigation-portrait .nav-brand {
  font-size: 18px;
  line-height: 48px;
}
.navigation-portrait .nav-logo > img {
  height: 36px;
  margin: 6px auto 6px 15px;
  padding: 0;
}
.navigation-portrait .nav-toggle {
  display: block;
}
.navigation-portrait .nav-menus-wrapper {
  width: 320px;
  height: 100%;
  top: 0;
  left: -400px;
  position: fixed;
  background-color: #fff;
  z-index: 20000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
  left: auto;
  right: -400px;
}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
  left: 0;
}
.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
  left: auto;
  right: 0;
}
.navigation-portrait .nav-menus-wrapper-close-button {
  display: block;
}
.navigation-portrait .nav-menu {
  width: 100%;
}
.navigation-portrait .nav-menu > li {
  width: 100%;
  position: relative;
}
.navigation-portrait .nav-menu > li:last-child {
  border-bottom: solid 1px #f0f0f0;
}
.navigation-portrait .nav-menu > li > a {
  width: 100%;
  height: auto;
  padding: 12px 15px 12px 26px;
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 30px;
}
.navigation-portrait .nav-menu.nav-menu-social {
  width: 100%;
  text-align: center;
}
.navigation-portrait .nav-menu.nav-menu-social > li {
  width: auto;
}
.navigation-portrait .nav-menu.nav-menu-social > li > a {
  padding: 15px;
}
.navigation-portrait .submenu-indicator {
  width: 54px;
  height: 44px;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 20000;
}
.navigation-portrait .submenu-indicator-chevron {
  position: absolute;
  top: 18px;
  left: 24px;
}
.navigation-portrait .submenu-indicator.submenu-indicator-up {
  transform: rotate(-180deg);
}
.navigation-portrait .nav-search {
  height: 48px;
  padding: 0 10px;
  margin-right: 52px;
}
.navigation-portrait .nav-search-button {
  width: 50px;
  height: 48px;
  line-height: 46px;
  font-size: 22px;
}
.navigation-portrait .nav-search-inner {
  height: 48px;
}
.navigation-portrait .nav-search-inner input[type=text] {
  height: 48px;
  font-size: 18px;
  line-height: 48px;
}
.navigation-portrait .nav-search-inner input[type=search] {
  height: 48px;
  font-size: 18px;
  line-height: 48px;
}
.navigation-portrait .nav-search-close-button {
  top: 10px;
  right: 14px;
}
.navigation-portrait .nav-button {
  width: calc(100% - 52px);
  margin: 17px 26px;
}
.navigation-portrait .nav-text {
  width: calc(100% - 52px);
  margin: 12px 26px 0;
}
.navigation-portrait .nav-text + ul {
  margin-top: 15px;
}
.navigation-portrait .nav-dropdown {
  width: 100%;
  position: static;
  left: 0;
}
.navigation-portrait .nav-dropdown > li > a {
  padding: 12px 20px 12px 30px;
}
.navigation-portrait .nav-dropdown > li > ul > li > a {
  padding-left: 50px;
}
.navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {
  padding-left: 70px;
}
.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {
  padding-left: 90px;
}
.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 110px;
}
.navigation-portrait .nav-dropdown .submenu-indicator {
  right: 0;
  top: 0;
}
.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
  transform: rotate(45deg);
}
.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
  border-top: none;
}
.navigation-portrait .nav-dropdown-horizontal > li {
  width: 100%;
}
.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
  height: 42px;
  top: 0;
  transform: rotate(0deg);
}
.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
  transform: rotate(-180deg);
}
.navigation-portrait .nav-submenu {
  margin-top: 2px;
}
.navigation-portrait .megamenu-panel {
  padding: 25px;
  position: static;
  display: block;
}
.navigation-portrait .megamenu-panel-half {
  width: 100%;
}
.navigation-portrait .megamenu-panel-quarter {
  width: 100%;
}
.navigation-portrait .megamenu-panel-row [class*=col-] {
  float: none;
  display: block;
  width: 100% !important;
  margin-left: 0;
  margin-top: 15px;
}
.navigation-portrait .megamenu-panel-row:first-child [class*=col-]:first-child {
  margin-top: 0;
}
.navigation-portrait .megamenu-tabs-nav {
  width: 100%;
}
.navigation-portrait .megamenu-tabs-pane {
  width: 100%;
}

.navigation-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19998;
}

.navigation-hidden {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.navigation-hidden .nav-header {
  display: none;
}
.navigation-hidden .nav-search {
  display: none;
}

.align-to-right {
  float: right;
}

.nav-header {
  float: left;
}
.nav-header-bar {
  height: 70px;
  padding: 26px 15px;
}
.nav-header-bar span {
  color: #000000;
  padding: 14px 20px 14px 0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.nav-header-bar i {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: middle;
  transform: translateY(-1px);
  color: #ff250d;
}

.nav-brand {
  line-height: 70px;
  padding: 0;
  color: #343a40;
  font-size: 24px;
  text-decoration: none !important;
}
.nav-brand:hover {
  color: #343a40;
}
.nav-brand:focus {
  color: #343a40;
}

.nav-logo > img {
  height: 48px;
  margin: 11px auto;
  padding: 0 15px;
  float: left;
}
.nav-logo:focus > img {
  outline: initial;
}

.nav-toggle {
  width: 30px;
  height: 30px;
  padding: 6px 2px 0;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 15px;
  display: none;
  cursor: pointer;
}
.nav-toggle:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #343a40;
  border-radius: 10px;
  box-shadow: 0 0.5em 0 0 #343a40, 0 1em 0 0 #343a40;
}

.nav-menus-wrapper-close-button {
  width: 30px;
  height: 40px;
  margin: 10px 7px;
  display: none;
  float: right;
  color: #343a40;
  font-size: 26px;
  cursor: pointer;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
  font-size: 0;
}
.nav-menu > li {
  display: inline-block;
  float: left;
  text-align: left;
}
.nav-menu > li > a {
  height: 70px;
  padding: 26px 15px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  transition: color 0.3s, background 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-menu > li > a > i {
  width: 18px;
  height: 16px;
  line-height: 16px;
  transform: scale(1.4);
}
.nav-menu > li > a > [class*=ion-] {
  width: 18px;
  height: 16px;
  line-height: 16px;
  transform: scale(1.4);
  width: 16px;
  display: inline-block;
  transform: scale(1.8);
}
.nav-menu > li:hover > a {
  color: #ff250d;
}
.nav-menu > li:hover > a .submenu-indicator-chevron {
  border-color: transparent #ff250d #ff250d transparent;
}
.nav-menu > li > .nav-dropdown {
  border-top: solid 1px #f0f0f0;
}
.nav-menu + .nav-menu > li:first-child {
  border-top: none;
}
.nav-menu > li.active > a {
  color: #ff250d;
}
.nav-menu > li.focus > a {
  color: #ff250d;
}
.nav-menu > .active > a .submenu-indicator-chevron {
  border-color: transparent #967adc #967adc transparent;
}
.nav-menu > .focus > a .submenu-indicator-chevron {
  border-color: transparent #967adc #967adc transparent;
}

.navigation-landscape .nav-menu.nav-menu-centered {
  float: none;
  text-align: center;
}
.navigation-landscape .nav-menu.nav-menu-centered > li {
  float: none;
}
.navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
  text-align: right;
}
.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
  left: 10px;
}
.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
  transform: rotate(135deg);
}
.navigation-landscape .megamenu-list {
  margin: -15px 0;
  padding-right: 40px;
  padding-left: 0;
}
.navigation-landscape .megamenu-list:last-child {
  border: none;
}
.navigation-landscape .list-col-2 {
  width: 50%;
}
.navigation-landscape .list-col-3 {
  width: 33%;
}
.navigation-landscape .list-col-4 {
  width: 25%;
}
.navigation-landscape .list-col-5 {
  width: 20%;
}

.nav-menu.nav-menu-social > li {
  text-align: center;
  float: none;
  border: none !important;
}
.nav-menu.nav-menu-social > li > a > [class*=ion-] {
  font-size: 12px;
}
.nav-menu.nav-menu-social > li > a > .fa {
  font-size: 14px;
}

.submenu-indicator {
  margin-left: 6px;
  margin-top: 3px;
  float: right;
  transition: all 0.2s;
}

.submenu-indicator-chevron {
  height: 7px;
  width: 7px;
  display: block;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
  transition: border 0.2s;
}

.nav-overlay-panel {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 19999;
}

.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nav-search {
  height: 70px;
  float: right;
  z-index: 19998;
}
.nav-search > form {
  width: 100%;
  height: 100%;
  padding: 0 auto;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99;
}

.nav-search-button {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  background-color: #fbfcfd;
}
.nav-search-button:hover .nav-search-icon {
  color: #ff250d;
}

.nav-search-icon {
  width: 14px;
  height: 14px;
  margin: 2px 8px 8px 4px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #343a40;
  text-align: left;
  text-indent: -9999px;
  border: 2px solid;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.nav-search-icon:after {
  content: "";
  pointer-events: none;
}
.nav-search-icon:before {
  content: "";
  pointer-events: none;
  width: 2px;
  height: 11px;
  top: 11px;
  position: absolute;
  left: 50%;
  border-radius: 0 0 1px 1px;
  box-shadow: inset 0 0 0 32px;
  transform: translateX(-50%);
}

.nav-search-inner {
  width: 70%;
  height: 70px;
  margin: auto;
  display: table;
}
.nav-search-inner input[type=text] {
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0 12px;
  font-size: 26px;
  text-align: center;
  color: #343a40;
  outline: none;
  line-height: 70px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}
.nav-search-inner input[type=search] {
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0 12px;
  font-size: 26px;
  text-align: center;
  color: #343a40;
  outline: none;
  line-height: 70px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}

.nav-search-close-button {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  line-height: normal;
  color: #343a40;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.nav-button {
  margin: 18px 15px 0;
  padding: 8px 14px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.nav-button:hover {
  color: #fff;
  text-decoration: none;
}
.nav-button:focus {
  color: #fff;
  text-decoration: none;
}

.nav-text {
  margin: 25px 15px;
  display: inline-block;
  color: #343a40;
  font-size: 14px;
}

.nav-dropdown, .megamenu-panel {
  top: 101%;
  z-index: 99999;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #ff250d;
}

.nav-dropdown {
  min-width: 180px;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  list-style: none;
  z-index: 98;
  white-space: nowrap;
}
.nav-dropdown .nav-dropdown {
  left: 100%;
}
.nav-dropdown > li {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  text-align: left;
}
.nav-dropdown > li > a {
  width: 100%;
  padding: 16px 20px;
  display: inline-block;
  text-decoration: none;
  float: left;
  font-size: 13px;
  color: #343a40;
  background-color: #fdfdfd;
  color: #343a40;
  padding: 10px 20px;
  border-bottom: 1px solid #f6f6f6;
}
.nav-dropdown > li > a:hover {
  color: #ff250d;
}
.nav-dropdown > li > a:focus {
  color: #ff250d;
}
.nav-dropdown > li:hover > a {
  color: #ff250d;
}
.nav-dropdown > li:hover > a .submenu-indicator-chevron {
  border-color: transparent #ff250d #ff250d transparent;
}
.nav-dropdown > li > .nav-dropdown-left {
  left: auto;
  right: 100%;
}
.nav-dropdown > li.focus > a {
  color: #ff250d;
}
.nav-dropdown .submenu-indicator {
  right: 15px;
  top: 10px;
  position: absolute;
}
.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
  transform: rotate(-45deg);
}
.nav-dropdown > .focus > a .submenu-indicator-chevron {
  border-color: transparent #ff250d #ff250d transparent;
}

.nav-dropdown.nav-dropdown-left {
  right: 0;
}

.nav-dropdown-horizontal {
  width: 100%;
  left: 0;
  background-color: #fdfdfd;
  border-top: solid 1px #f0f0f0;
}
.nav-dropdown-horizontal .nav-dropdown-horizontal {
  width: 100%;
  top: 100%;
  left: 0;
}
.nav-dropdown-horizontal > li {
  width: auto;
  clear: none;
  position: static;
}
.nav-dropdown-horizontal > li > a {
  position: relative;
}
.nav-dropdown-horizontal .submenu-indicator {
  height: 18px;
  top: 11px;
  transform: rotate(90deg);
}

.megamenu-panel {
  width: 100%;
  padding: 37px 20px 23px 20px;
  display: none;
  position: absolute;
  font-size: 14px;
  z-index: 98;
  text-align: left;
  color: inherit;
  border-top: solid 1px #f0f0f0;
  background-color: #fdfdfd;
  box-shadow: 0px 10px 9px 0px rgba(180, 30, 11, 0.22);
}
.megamenu-panel [class*=container] {
  width: 100%;
}
.megamenu-panel [class*=container] [class*=col-] {
  padding: 0;
}

.megamenu-panel-half {
  width: 50%;
}

.megamenu-panel-quarter {
  width: 25%;
}

.megamenu-panel-row {
  width: 100%;
}
.megamenu-panel-row:before {
  content: "";
  display: table;
  line-height: 0;
}
.megamenu-panel-row:after {
  content: "";
  display: table;
  line-height: 0;
  clear: both;
}
.megamenu-panel-row [class*=col-] {
  display: block;
  min-height: 20px;
  float: left;
  margin-left: 3%;
}
.megamenu-panel-row [class*=col-]:first-child {
  margin-left: 0;
}
.megamenu-panel-row .col-1 {
  width: 5.5833333333%;
}
.megamenu-panel-row .col-2 {
  width: 14.1666666667%;
}
.megamenu-panel-row .col-3 {
  width: 22.75%;
}
.megamenu-panel-row .col-4 {
  width: 31.3333333333%;
}
.megamenu-panel-row .col-5 {
  width: 39.9166666667%;
}
.megamenu-panel-row .col-6 {
  width: 48.5%;
}
.megamenu-panel-row .col-7 {
  width: 57.0833333333%;
}
.megamenu-panel-row .col-8 {
  width: 65.6666666667%;
}
.megamenu-panel-row .col-9 {
  width: 74.25%;
}
.megamenu-panel-row .col-10 {
  width: 82.8333333333%;
}
.megamenu-panel-row .col-11 {
  width: 91.4166666667%;
}
.megamenu-panel-row .col-12 {
  width: 100%;
}

.megamenu-tabs {
  width: 100%;
  float: left;
  display: block;
}

.megamenu-tabs-nav {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.megamenu-tabs-nav > li > a {
  width: 100%;
  padding: 10px 16px;
  float: left;
  font-size: 13px;
  text-decoration: none;
  color: #343a40;
  border: solid 1px #eff0f2;
  outline: 0;
  background-color: #fff;
}
.megamenu-tabs-nav > li:hover a {
  background-color: #f5f5f5;
}
.megamenu-tabs-nav > li.active a {
  background-color: #f5f5f5;
}

.megamenu-tabs-pane {
  width: 80%;
  min-height: 30px;
  padding: 20px;
  float: right;
  display: none;
  font-size: 13px;
  color: #343a40;
  border: solid 1px #eff0f2;
  background-color: #fff;
}

.megamenu-tabs-pane.active {
  display: block;
}

.megamenu-lists {
  width: 100%;
  display: table;
}
.megamenu-lists:not(:last-child) {
  padding-right: 40px;
  padding-left: 0;
}
.megamenu-lists > li {
  border-bottom: 0px solid #000;
  font-size: 14px;
  position: relative;
  padding: 0 25px;
}
.megamenu-lists li {
  padding: 15px 0;
}
.megamenu-lists li a {
  letter-spacing: 0.4px;
  transition: all 0.3s;
}
.megamenu-lists li .sub-menu > .menu__item:hover i, .megamenu-lists li .sub-menu > .menu__item:hover .menu__item-link {
  color: #ff250d;
}

.megamenu-list {
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  display: inline-block;
  float: left;
  list-style: none;
}
.megamenu-list:last-child {
  border: none;
}
.megamenu-list > li > a {
  color: #424040;
  font-size: 13px !important;
  opacity: 1;
  font-weight: 700 !important;
  padding: 0 0;
  text-transform: uppercase;
  line-height: 1.2;
  border: 0;
  position: relative;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(0);
}
.megamenu-list > li > a::before {
  background-color: #ff250d;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
}
.megamenu-list > li a {
  font-size: 13px;
  letter-spacing: 0.4px;
  border-bottom: 0;
  margin-bottom: 1px;
  color: #424040;
  font-weight: 400;
  transition: all 0.3s;
}
.megamenu-list > li.megamenu-list-title > a {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #343a40;
}
.megamenu-list > li.megamenu-list-title > a:hover {
  background-color: transparent;
}
.megamenu-list .sub-menu {
  position: relative;
  left: auto;
  right: 0;
  border: 0px;
  margin: 16px 0 0;
  padding: 0;
  background: none;
}
.megamenu-list .sub-menu li:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
.megamenu-list .sub-menu i {
  font-size: 11px;
  font-weight: 400;
  margin-right: 5px;
}

.main_header_area {
  min-height: 50px;
  position: relative;
}

.main_header_area.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.transparent-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav-dropdown > li > a {
    width: 65%;
  }
  .megamenu-list > li > a {
    width: 65%;
  }
}
.nav-menu-toggle {
  position: absolute;
  padding: 0;
  top: 100%;
  left: 0;
  width: 300px;
  max-width: 300px;
  z-index: 10;
  border-color: rgb(234, 234, 234);
  box-shadow: 0px 10px 9px 0px rgba(180, 30, 11, 0.22);
  color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0;
  border: 1px solid rgb(234, 234, 234);
  display: none;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.nav-menu-toggle :nth-child(2):hover .megamenu {
  transition: 0.5s;
  display: flex;
}
.nav-menu-toggle :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu-toggle :nth-child(1) i {
  font-size: 12px;
}
.nav-menu-toggle > :not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
.nav-menu-toggle > li {
  display: block;
  padding: 17px 25px;
  position: relative;
}
.nav-menu-toggle > li > a {
  color: #222222;
  transition: 0.5s;
  font-weight: 400;
  font-size: 13px;
}
.nav-menu-toggle li:hover a {
  color: #ff250d;
}
.nav-menu-toggle li a {
  text-transform: uppercase;
}
.nav-menu-toggle .sub-menu {
  width: 810px;
  padding: 37px 20px 23px 40px;
  border-left-width: 1px;
  border-bottom: solid;
  max-width: 810px;
  box-shadow: 0px 10px 9px 0px rgba(180, 30, 11, 0.22);
  border-color: #eeeeee;
}
.nav-menu-toggle .sub-menu > li {
  padding: 0;
}
.nav-menu-toggle .sub-menu > li:not(:last-child) {
  padding-right: 30px;
}
.nav-menu-toggle .sub-menu > li a {
  color: #565656;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  position: relative;
}
.nav-menu-toggle .sub-menu > li > a {
  padding: 10px 0 15px;
}
.nav-menu-toggle .sub-menu > li > a::before {
  background-color: #ff250d;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
}
.nav-menu-toggle .sub-menu li {
  width: 33%;
}
.nav-menu-toggle .sub-menu-column {
  padding: 0;
  margin-left: 0;
}
.nav-menu-toggle .sub-menu-column li {
  list-style: none;
}
.nav-menu-toggle .sub-menu-column li a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: block;
  position: relative;
  text-transform: capitalize;
}
.nav-menu-toggle .megamenu {
  display: none;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: absolute;
  left: calc(100% + 1px);
  top: 0;
  padding: 25px 40px 25px;
  transition: 0.5s;
  margin: 0;
  list-style: none;
}
.nav-menu-toggle .megamenu :first-child {
  display: block;
}
.nav-menu-toggle .megamenu .sub-menu-column {
  margin-top: 20px;
}
.nav-menu-toggle .megamenu .sub-menu-column li:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
.nav-menu-toggle .megamenu .sub-menu-column .menu__item {
  width: 100%;
  position: relative;
}
.nav-menu-toggle .megamenu .sub-menu-column .menu__item-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: block;
  text-transform: capitalize;
  padding: 10px 15px;
}
.nav-menu-toggle .megamenu .sub-menu-column .menu__item i {
  position: absolute;
  top: 35%;
  left: 0;
  color: #333;
  font-size: 13px;
  font-weight: 400;
}
.nav-menu-toggle .megamenu .sub-menu-column .menu__item:hover .menu__item-link, .nav-menu-toggle .megamenu .sub-menu-column .menu__item:hover i {
  color: #ff250d;
}

.nav-menu-toggle.open {
  display: block;
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=header.css.map */