.top__bar{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000000;
    &-media{
        height: 100%;
        display: flex;
        align-items: center;
        a{
            color: #fff;
            &:not(:last-child){
                margin-right: 10px;
            }
        }        
    }
    &-text{
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
    }
    &-right{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            margin-right: 10px;
            padding: 15px 20px;
            border: none;
            border-radius: 0;
            background-color: red;
            color: #fff;
        }
        .account__section{
            margin-left: 10px;
            select{
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}
.center__bar{
    padding: 35px 0;
    .logo{
        img{
            width: 50%;
            max-width: 100%;
        }
    }
    &-search{
        height: 45px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: relative;
        .header__search-form{
            position: relative;
            z-index: 2;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
            outline: none;
            border: 1px solid #ebebeb;
            background: #f7f7f7;
            font-size: 14px;
            padding: 14px 18px;
            border-radius: 4px;
            height: 45px;
            letter-spacing: .1px;
            color: #333333;
            &:focus{
                background-color: whitesmoke;
                border-color: #ececec;
            }
            
        }
        .header__search-icon{
            height: 100%;
            button{
                height: 100%;
                padding: 15px 18px;
                border: 1px solid #ebebeb;
                line-height: 1.25;
                border-radius: 0.25rem;
                background: #f7f7f7;
                color: #ff250d;
                transition: all .15s ease-in-out;
                &:hover{
                    background-color: #ff250d;
                    color: #ebebeb;
                }
            }
        }
    }
    &-cart{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        
        a, button{
            font-size: 17px;
            color: #333333;
            position: relative; 
            &:not(:last-child){
                margin-right: 26px;
                
            }
            .count{
                background-color: #ff250d;
                position: absolute;
                top: -3px;
                right: -9px;
                width: 12px;
                height: 14px;
                text-align: center;
                font-size: 10px;
                color: #fff;
                padding: 1px;
                border-radius: 10px;
                line-height: 12px;
            }
        }
    }
}
@import 'menu.scss'