.navigation {
	width: 100%;
	height: 70px;
	display: table;
	position: relative;
	font-family: inherit;
	background-color: #fff;
	* {
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}
}
.navigation-portrait {
	height: 48px;
	.nav-brand {
		font-size: 18px;
		line-height: 48px;
	}
	.nav-logo {
		>img {
			height: 36px;
			margin: 6px auto 6px 15px;
			padding: 0;
		}
	}
	.nav-toggle {
		display: block;
	}
	.nav-menus-wrapper {
		width: 320px;
		height: 100%;
		top: 0;
		left: -400px;
		position: fixed;
		background-color: #fff;
		z-index: 20000;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition-duration: 0.2s;
		transition-timing-function: ease;
	}
	.nav-menus-wrapper.nav-menus-wrapper-right {
		left: auto;
		right: -400px;
	}
	.nav-menus-wrapper.nav-menus-wrapper-open {
		left: 0;
	}
	.nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
		left: auto;
		right: 0;
	}
	.nav-menus-wrapper-close-button {
		display: block;
	}
	.nav-menu {
		width: 100%;
		>li {
			width: 100%;
			position: relative;
			&:last-child {
				border-bottom: solid 1px #f0f0f0;
			}
			>a {
				width: 100%;
				height: auto;
				padding: 12px 15px 12px 26px;
				width: 100%;
				height: auto;
				padding: 10px 10px 10px 30px;
			}
		}
	}
	.nav-menu.nav-menu-social {
		width: 100%;
		text-align: center;
		>li {
			width: auto;
			>a {
				padding: 15px;
			}
		}
	}
	.submenu-indicator {
		width: 54px;
		height: 44px;
		margin-top: 0;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		z-index: 20000;
	}
	.submenu-indicator-chevron {
		position: absolute;
		top: 18px;
		left: 24px;
	}
	.submenu-indicator.submenu-indicator-up {
		transform: rotate(-180deg);
	}
	.nav-search {
		height: 48px;
		padding: 0 10px;
		margin-right: 52px;
	}
	.nav-search-button {
		width: 50px;
		height: 48px;
		line-height: 46px;
		font-size: 22px;
	}
	.nav-search-inner {
		height: 48px;
		input[type="text"] {
			height: 48px;
			font-size: 18px;
			line-height: 48px;
		}
		input[type="search"] {
			height: 48px;
			font-size: 18px;
			line-height: 48px;
		}
	}
	.nav-search-close-button {
		top: 10px;
		right: 14px;
	}
	.nav-button {
		width: calc(100% - 52px);
		margin: 17px 26px;
	}
	.nav-text {
		width: calc(100% - 52px);
		margin: 12px 26px 0;
		+ {
			ul {
				margin-top: 15px;
			}
		}
	}
	.nav-dropdown {
		width: 100%;
		position: static;
		left: 0;
		>li {
			>a {
				padding: 12px 20px 12px 30px;
			}
			>ul {
				>li {
					>a {
						padding-left: 50px;
					}
					>ul {
						>li {
							>a {
								padding-left: 70px;
							}
							>ul {
								>li {
									>a {
										padding-left: 90px;
									}
									>ul {
										>li {
											>a {
												padding-left: 110px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.submenu-indicator {
			right: 0;
			top: 0;
			.submenu-indicator-chevron {
				transform: rotate(45deg);
			}
		}
	}
	.nav-dropdown-horizontal {
		.nav-dropdown-horizontal {
			border-top: none;
		}
		>li {
			width: 100%;
		}
		.submenu-indicator {
			height: 42px;
			top: 0;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		.submenu-indicator.submenu-indicator-up {
			transform: rotate(-180deg);
		}
	}
	.nav-submenu{
		margin-top: 2px;
	}
	.megamenu-panel {
		padding: 25px;
		position: static;
		display: block;
	}
	.megamenu-panel-half {
		width: 100%;
	}
	.megamenu-panel-quarter {
		width: 100%;
	}
	.megamenu-panel-row {
		[class*="col-"] {
			float: none;
			display: block;
			width: 100% !important;
			margin-left: 0;
			margin-top: 15px;
		}
		&:first-child {
			[class*="col-"] {
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	.megamenu-tabs-nav {
		width: 100%;
	}
	.megamenu-tabs-pane {
		width: 100%;
	}
}
.navigation-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19998;
}
.navigation-hidden {
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	.nav-header {
		display: none;
	}
	.nav-search {
		display: none;
	}
}
.align-to-right {
	float: right;
}
.nav-header {
	float: left;
	&-bar{    
		height: 70px;
		padding: 26px 15px;
		span{
			color: #000000;
			padding: 14px 20px 14px 0;
			border-radius: 4px;
			position: relative;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.2px;
		}
		i{
			margin-right: 6px;
			font-size: 20px;
			vertical-align: middle;
			transform: translateY(-1px);
			color: #ff250d;
		}
	}
	@include Responsive(XL){
		display: none;
	}
}
.nav-brand {
	line-height: 70px;
	padding: 0;
	color: #343a40;
	font-size: 24px;
	text-decoration: none !important;
	&:hover {
		color: #343a40;
	}
	&:focus {
		color: #343a40;
	}
}
.nav-logo {
	>img {
		height: 48px;
		margin: 11px auto;
		padding: 0 15px;
		float: left;
	}
	&:focus {
		>img {
			outline: initial;
		}
	}
}
.nav-toggle {
	width: 30px;
	height: 30px;
	padding: 6px 2px 0;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 15px;
	display: none;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		width: 24px;
		height: 2px;
		background-color: #343a40;
		border-radius: 10px;
		box-shadow: 0 0.5em 0 0 #343a40, 0 1em 0 0 #343a40;
	}
}
.nav-menus-wrapper-close-button {
	width: 30px;
	height: 40px;
	margin: 10px 7px;
	display: none;
	float: right;
	color: #343a40;
	font-size: 26px;
	cursor: pointer;
}
.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	font-size: 0;
	>li {
		display: inline-block;
		float: left;
		text-align: left;
		>a {
			height: 70px;
			padding: 26px 15px;
			display: inline-block;
			text-decoration: none;
			font-size: 14px;
			color: #000000;
			transition: color 0.3s, background 0.3s;
			text-transform: uppercase;
			font-weight: bold;
			>i {
				width: 18px;
				height: 16px;
				line-height: 16px;
				transform: scale(1.4);
			}
			>[class*="ion-"] {
				width: 18px;
				height: 16px;
				line-height: 16px;
				transform: scale(1.4);
				width: 16px;
				display: inline-block;
				transform: scale(1.8);
			}
		}
		&:hover {
			>a {
				color: #ff250d;
				.submenu-indicator-chevron {
					border-color: transparent #ff250d #ff250d transparent;
				}
			}
		}
		>.nav-dropdown {
			border-top: solid 1px #f0f0f0;
		}
	}
	+ {
		.nav-menu {
			>li {
				&:first-child {
					border-top: none;
				}
			}
		}
	}
	>li.active {
		>a {
			color: #ff250d;
		}
	}
	>li.focus {
		>a {
			color: #ff250d;
		}
	}
	>.active {
		>a {
			.submenu-indicator-chevron {
				border-color: transparent #967adc #967adc transparent;
			}
		}
	}
	>.focus {
		>a {
			.submenu-indicator-chevron {
				border-color: transparent #967adc #967adc transparent;
			}
		}
	}
}
.navigation-landscape {
	.nav-menu.nav-menu-centered {
		float: none;
		text-align: center;
		>li {
			float: none;
		}
	}
	.nav-dropdown.nav-dropdown-left {
		>li {
			>a {
				text-align: right;
			}
		}
		.submenu-indicator {
			left: 10px;
			.submenu-indicator-chevron {
				transform: rotate(135deg);
			}
		}
	}
	.megamenu-list {
		margin: -15px 0;
		padding-right: 40px;
		padding-left: 0;
		&:last-child {
			border: none;
		}
	}
	.list-col-2 {
		width: 50%;
	}
	.list-col-3 {
		width: 33%;
	}
	.list-col-4 {
		width: 25%;
	}
	.list-col-5 {
		width: 20%;
	}
}
.nav-menu.nav-menu-social {
	>li {
		text-align: center;
		float: none;
		border: none !important;
		>a {
			>[class*="ion-"] {
				font-size: 12px;
			}
			>.fa {
				font-size: 14px;
			}
		}
	}
}
.submenu-indicator {
	margin-left: 6px;
	margin-top: 3px;
	float: right;
	transition: all 0.2s;
}
.submenu-indicator-chevron {
	height: 7px;
    width: 7px;
    display: block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
    transition: border 0.2s;
}
.nav-overlay-panel {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	z-index: 19999;
}
.no-scroll {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.nav-search {
	height: 70px;
	float: right;
	z-index: 19998;
	>form {
		width: 100%;
		height: 100%;
		padding: 0 auto;
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #fff;
		z-index: 99;
	}
}
.nav-search-button {
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	background-color: #fbfcfd;
	&:hover {
		.nav-search-icon {
			color: #ff250d;
		}
	}
}
.nav-search-icon {
	width: 14px;
	height: 14px;
	margin: 2px 8px 8px 4px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: #343a40;
	text-align: left;
	text-indent: -9999px;
	border: 2px solid;
	border-radius: 50%;
	transform: rotate(-45deg);
	&:after {
		content: "";
		pointer-events: none;
	}
	&:before {
		content: "";
		pointer-events: none;
		width: 2px;
		height: 11px;
		top: 11px;
		position: absolute;
		left: 50%;
		border-radius: 0 0 1px 1px;
		box-shadow: inset 0 0 0 32px;
		transform: translateX(-50%);
	}
}
.nav-search-inner {
	width: 70%;
	height: 70px;
	margin: auto;
	display: table;
	input[type="text"] {
		height: 70px;
		width: 100%;
		margin: 0;
		padding: 0 12px;
		font-size: 26px;
		text-align: center;
		color: #343a40;
		outline: none;
		line-height: 70px;
		border: none;
		background-color: transparent;
		transition: all 0.3s;
	}
	input[type="search"] {
		height: 70px;
		width: 100%;
		margin: 0;
		padding: 0 12px;
		font-size: 26px;
		text-align: center;
		color: #343a40;
		outline: none;
		line-height: 70px;
		border: none;
		background-color: transparent;
		transition: all 0.3s;
	}
}
.nav-search-close-button {
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	line-height: normal;
	color: #343a40;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}
.nav-button {
	margin: 18px 15px 0;
	padding: 8px 14px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
	&:focus {
		color: #fff;
		text-decoration: none;
	}
}
.nav-text {
	margin: 25px 15px;
	display: inline-block;
	color: #343a40;
	font-size: 14px;
}
.nav-dropdown, .megamenu-panel{
	top: 101%;
	z-index: 99999;
	border-top-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	border-color: #ff250d;
}
.nav-dropdown {
	min-width: 180px;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	list-style: none;
	z-index: 98;
	white-space: nowrap;
	.nav-dropdown {
		left: 100%;
	}
	>li {
		width: 100%;
		float: left;
		clear: both;
		position: relative;
		text-align: left;
		>a {
			width: 100%;
			padding: 16px 20px;
			display: inline-block;
			text-decoration: none;
			float: left;
			font-size: 13px;
			color: #343a40;
			background-color: #fdfdfd;
			color: #343a40;
			padding: 10px 20px;
			border-bottom: 1px solid #f6f6f6;
			&:hover {
				color: #ff250d;
			}
			&:focus {
				color: #ff250d;
			}
		}
		&:hover {
			>a {
				color: #ff250d;
				.submenu-indicator-chevron {
					border-color: transparent #ff250d #ff250d transparent;
				}
			}
		}
		>.nav-dropdown-left {
			left: auto;
			right: 100%;
		}
	}
	>li.focus {
		>a {
			color: #ff250d;
		}
	}
	.submenu-indicator {
		right: 15px;
		top: 10px;
		position: absolute;
		.submenu-indicator-chevron {
			transform: rotate(-45deg);
		}
	}
	>.focus {
		>a {
			.submenu-indicator-chevron {
				border-color: transparent #ff250d #ff250d transparent;
			}
		}
	}
}
.nav-dropdown.nav-dropdown-left {
	right: 0;
}
.nav-dropdown-horizontal {
	width: 100%;
	left: 0;
	background-color: #fdfdfd;
	border-top: solid 1px #f0f0f0;
	.nav-dropdown-horizontal {
		width: 100%;
		top: 100%;
		left: 0;
	}
	>li {
		width: auto;
		clear: none;
		position: static;
		>a {
			position: relative;
		}
	}
	.submenu-indicator {
		height: 18px;
		top: 11px;
		transform: rotate(90deg);
	}
}
.megamenu-panel {
	width: 100%;
	padding: 37px 20px 23px 20px;
	display: none;
	position: absolute;
	font-size: 14px;
	z-index: 98;
	text-align: left;
	color: inherit;
	border-top: solid 1px #f0f0f0;
	background-color: #fdfdfd;
	box-shadow: 0px 10px 9px 0px rgb(180 30 11 / 22%);
	[class*="container"] {
		width: 100%;
		[class*="col-"] {
			padding: 0;
		}
	}
}
.megamenu-panel-half {
	width: 50%;
}
.megamenu-panel-quarter {
	width: 25%;
}
.megamenu-panel-row {
	width: 100%;
	&:before {
		content: "";
		display: table;
		line-height: 0;
	}
	&:after {
		content: "";
		display: table;
		line-height: 0;
		clear: both;
	}
	[class*="col-"] {
		display: block;
		min-height: 20px;
		float: left;
		margin-left: 3%;
		&:first-child {
			margin-left: 0;
		}
	}
	.col-1 {
		width: 5.583333333333%;
	}
	.col-2 {
		width: 14.166666666666%;
	}
	.col-3 {
		width: 22.75%;
	}
	.col-4 {
		width: 31.333333333333%;
	}
	.col-5 {
		width: 39.916666666667%;
	}
	.col-6 {
		width: 48.5%;
	}
	.col-7 {
		width: 57.083333333333%;
	}
	.col-8 {
		width: 65.666666666667%;
	}
	.col-9 {
		width: 74.25%;
	}
	.col-10 {
		width: 82.833333333334%;
	}
	.col-11 {
		width: 91.416666666667%;
	}
	.col-12 {
		width: 100%;
	}
}
.megamenu-tabs {
	width: 100%;
	float: left;
	display: block;
}
.megamenu-tabs-nav {
	width: 20%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	>li {
		>a {
			width: 100%;
			padding: 10px 16px;
			float: left;
			font-size: 13px;
			text-decoration: none;
			color: #343a40;
			border: solid 1px #eff0f2;
			outline: 0;
			background-color: #fff;
		}
		&:hover {
			a {
				background-color: #f5f5f5;
			}
		}
	}
	>li.active {
		a {
			background-color: #f5f5f5;
		}
	}
}
.megamenu-tabs-pane {
	width: 80%;
	min-height: 30px;
	padding: 20px;
	float: right;
	display: none;
	font-size: 13px;
	color: #343a40;
	border: solid 1px #eff0f2;
	background-color: #fff;
}
.megamenu-tabs-pane.active {
	display: block;
}
.megamenu-lists {
	width: 100%;
	display: table;
	&:not(:last-child){
		padding-right: 40px;
		padding-left: 0;
	}
	& > li {
		border-bottom: 0px solid #000;
		font-size: 14px;
		position: relative;
		padding: 0 25px;
	}
	
	li {
		padding: 15px 0;
		a{
			letter-spacing: .4px;
			transition: all .3s;
		}
		.sub-menu{
			& > .menu__item{
				&:hover i, &:hover .menu__item-link{
					color: #ff250d;
				}
			}
		}		
	}
}
.megamenu-list {
	width: 100%;
	margin: 0 0 15px;
	padding: 0;
	display: inline-block;
	float: left;
	list-style: none;
	&:last-child {
		border: none;
	}
	>li {
		>a {
			color: #424040;
			font-size: 13px !important;
			opacity: 1;
			font-weight: 700 !important;
			padding: 0 0;
			text-transform: uppercase;
			line-height: 1.2;
			border: 0;
			position: relative;
			padding-bottom: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			transform: translateX(0);
			&::before{
				background-color: #ff250d;
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 40px;
				height: 2px;
			}
		}
		a{
			font-size: 13px;
			letter-spacing: .4px;
			border-bottom: 0;
			margin-bottom: 1px;
			color: #424040;
			font-weight: 400;
			transition: all .3s;
		}
	}
	>li.megamenu-list-title {
		>a {
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			color: #343a40;
			&:hover {
				background-color: transparent;
			}
		}
	}
	.sub-menu{
		position: relative;
		left: auto;
		right: 0;
		border: 0px;
		margin: 16px 0 0;
		padding: 0;
		background: none;
		li {
			&:not(:last-child){
				border-bottom: 1px solid #f0f0f0;
			}
		}
		i{
			font-size: 11px;
			font-weight: 400;
			margin-right: 5px;
		}
	}
}
.main_header_area {
	min-height: 50px;
	position: relative;
}
.main_header_area.sticky {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 9999;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.transparent-menu {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.nav-dropdown {
		>li {
			>a {
				width: 65%;
			}
		}
	}
	.megamenu-list {
		>li {
			>a {
				width: 65%;
			}
		}
	}
}
.nav-menu-toggle {
	position: absolute;
	padding: 0;
    top: 100%;
    left: 0;
    width: 300px;
    max-width: 300px;
    z-index: 10;
	border-color: rgb(234, 234, 234);
	box-shadow: 0px 10px 9px 0px rgb(180 30 11 / 22%);
	color:rgba(0, 0, 0, 0.1);
	background-color: #fff;
    margin: 0;
    border: 1px solid rgb(234, 234, 234);
	display: none;
	cursor: pointer;
	transition: all 0.9s ease-in-out;;
    opacity: 0;
    visibility: hidden;
	:nth-child(2){
		&:hover{
			.megamenu {
				transition: .5s;
				display: flex;
			}
		}
	}
	:nth-child(1){
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		i{ 
			font-size: 12px;
		}
		
	}
	& > :not(:last-child){
		border-bottom: 1px solid #eeeeee;
	}
	& > li{
		display: block;
		padding: 17px 25px;
		position: relative;
		
		& > a{
			color: #222222;
			transition: 0.5s;
			font-weight: 400;
			font-size: 13px;
		}
		
	}
	li {
		&:hover a {
			color: #ff250d;
		}
		a{
			text-transform: uppercase;
		}
	}
	.sub-menu{
		width: 810px;
		padding: 37px 20px 23px 40px;
		border-left-width: 1px;
		border-bottom: solid;
		max-width: 810px;
		box-shadow: 0px 10px 9px 0px rgb(180 30 11 / 22%);
		border-color: #eeeeee;
		& > li{
			padding: 0;
			&:not(:last-child){
				padding-right: 30px;
			}
			a {
				color: #565656;
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: .3px;
				position: relative;
				// margin-bottom: 16px;				
			}
			> a {
				padding: 10px 0 15px;
				&::before {
					background-color: #ff250d;
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 40px;
					height: 2px;
				}
			}
		}
		li{
			width: 33%;
		}
		
		&-column{
			padding: 0;
			margin-left: 0;
			li {
				list-style: none;
				a {
					    font-weight: 400;
						font-size: 14px;
						letter-spacing: .5px;
						display: block;
						position: relative;
						text-transform: capitalize;
				}
			}
		}
	}
	.megamenu{
		display: none;
		align-items: center;
		justify-content: space-between;
		background: #fff;
		position: absolute;
		left: calc(100% + 1px);
		top: 0;
		padding: 25px 40px 25px;
		transition: 0.5s;
		margin: 0;
		list-style: none;
		& :first-child{
			display: block;
		}
		.sub-menu-column {
			margin-top: 20px;
			li:not(:last-child){
				border-bottom: 1px solid #f0f0f0;
			}
			.menu__item{
				width: 100%;
				position: relative;
				
				&-link{
					font-weight: 400;
					font-size: 14px;
					letter-spacing: .5px;
					display: block;
					text-transform: capitalize;
					padding: 10px 15px;
				}
				i {
					position: absolute;
					top: 35%;
					left: 0;
					color: #333;
					font-size: 13px;
					font-weight: 400;
				}
				&:hover .menu__item-link, &:hover i{
					color: #ff250d;;
				}
			}
		}
	}
	
}
.nav-menu-toggle.open{
	display: block;
	visibility: visible;
	opacity: 1;
}