.whislist__product .table {
  margin: 0;
  background: #fff;
  border: 1px solid #ececec;
}
.whislist__product-title th {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  background: #f8f8f8;
  padding: 17px 0;
  border-right: 1px solid;
  border-color: #ececec !important;
}
.whislist__product td {
  position: relative;
  vertical-align: middle;
  border-right: 1px solid;
  border-color: #ececec !important;
  width: 190px;
}
.whislist__product td .vertical-center {
  position: relative;
  width: 100%;
  font-size: 14px;
}
.whislist__product td img {
  max-width: 100%;
}
.whislist__product td .product-ratings-text {
  font-size: 13px;
}
.whislist__product td .wishlist-price {
  font-size: 14px;
}
.whislist__product td p {
  color: #646464;
}
.whislist__product td .green-color {
  color: #86b816 !important;
}
.whislist__product td .select-market-btn {
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  padding: 9px 16px;
  line-height: 0px;
  background: #ff250d;
  font-weight: 700;
}
.whislist__product td .select-market-btn i {
  margin-left: 10px;
  transition: 0.3s;
  width: 6px;
}
.whislist__product td .select-market-btn:hover i {
  transform: translateX(5px);
  transition: 0.3s;
}

.blurb-page-container {
  background-color: #f9f9f9;
}/*# sourceMappingURL=index.css.map */