.whislist{
    &__product{
        .table{
            margin: 0;
            background: #fff;
            border: 1px solid #ececec;
        }
        &-title{
            th {
                font-size: 16px;
                font-weight: 400;
                color: #666666;
                background: #f8f8f8;
                padding: 17px 0;
                border-right: 1px solid;
                border-color: #ececec !important;
            }
        }
        td {
            position: relative;
            vertical-align: middle;
            border-right: 1px solid;
            border-color: #ececec !important;
            width: 190px;
            .vertical-center {
                position: relative;
                width: 100%;
                font-size: 14px;
            }
            img {
                max-width: 100%;
            }
            .product-ratings-text{
                font-size: 13px;
            }
            .wishlist-price{
                font-size: 14px;

            }
            p{
                color: #646464;
            }
            .green-color{
                color: #86b816 !important;
            }
            .select-market-btn {
                color: #fff;
                border-radius: 4px;
                font-size: 15px;
                padding: 9px 16px;
                line-height: 0px;
                background: #ff250d;
                font-weight: 700;
                i{
                    margin-left: 10px;
                    transition: .3s;
                    width: 6px;
                }
                &:hover i{
                    transform: translateX(5px);
                    transition: .3s;
                }
            }
        }
    }
}
.blurb-page-container{
    background-color: #f9f9f9;
}