.sidebar .search-2 {
  margin-bottom: 30px;
  border: 1px solid #ececec;
  padding: 0;
  overflow: hidden;
}
.sidebar .search-2 .center__bar-search {
  margin: 0;
}
.sidebar .search-2 .center__bar-search input {
  border-right: none;
}
.sidebar .search-2 .center__bar-search span button {
  border-left: none;
}
.sidebar .widget {
  padding: 25px 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 18px 0px rgba(72, 72, 72, 0.07);
}
.sidebar .widget .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 13px;
  margin-bottom: 30px;
  position: relative;
  color: #333333;
}
.sidebar .widget .title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 52px;
  height: 3px;
  background-color: #ff250d;
}
.sidebar .widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .widget ul li {
  position: relative;
}
.sidebar .widget ul li i {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 12px;
}
.sidebar .widget ul > li {
  padding-left: 17px;
}
.sidebar .widget ul > li:first-child {
  margin-top: -13px;
}
.sidebar .widget ul > li > a {
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}
.sidebar .recent-comments-2 ul li .comment__link {
  font-weight: 700;
}
.sidebar .recent-comments-2 ul li .comment__link a {
  word-break: break-all;
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
  color: #666666;
}
.sidebar .recent-comments-2 ul > li {
  padding-left: 0;
}
.sidebar .recent__img-box {
  overflow: hidden;
  padding: 20px 0 20px 0;
  padding-left: 0px !important;
  display: flex;
}
.sidebar .recent__img-box:not(:last-child) {
  border-bottom: 1px solid;
  border-bottom-color: #e7e7e7;
}
.sidebar .recent__img-box:first-child {
  padding-top: 0px;
}
.sidebar .recent__img-thumbnail {
  width: 30%;
}
.sidebar .recent__img-thumbnail img {
  max-width: 100%;
  height: 100%;
}
.sidebar .recent__img-content {
  width: 70%;
  padding-left: 12px;
}
.sidebar .recent__img-content a {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.widget, .widgets select {
  font-weight: 400;
  font-size: 14px;
}
.widget li, .widgets select li {
  position: relative;
  border-top: 1px solid #ededed;
  padding: 8px 0 8px;
}
.widget li:hover a, .widget li:hover i, .widgets select li:hover a, .widgets select li:hover i {
  color: #ff250d;
}
.widget li:first-child, .widgets select li:first-child {
  border-top: none;
}
.widget a, .widgets select a {
  color: #666666;
  padding: 8px 0 8px;
  position: relative;
}/*# sourceMappingURL=sidebar.css.map */