.sidebar{
    .search-2{
        margin-bottom: 30px;
        border: 1px solid #ececec;
        padding: 0;
        overflow: hidden;
        .center__bar-search{
            margin: 0;
            input {
                border-right: none;
            }
            span {
                button {
                    border-left: none;
                }
            }
        }
    }
    .widget{
        padding: 25px 20px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 18px 0px rgb(72 72 72 / 7%);
        .title{
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            padding-bottom: 13px;
            margin-bottom: 30px;
            position: relative;
            color: #333333;
            &::after{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 52px;
                height: 3px;
                background-color: #ff250d;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                position: relative;
                i{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    font-size: 12px;
                }
            }
            & > li{
                padding-left: 17px;
                &:first-child{
                    margin-top: -13px;
                }
                & > a{
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }
            
        }
    }
    .recent-comments-2{
        ul {
            li {
                .comment__link{
                    font-weight: 700;
                    a{
                        word-break: break-all;
                        display: inline !important;
                        padding: 0 !important;
                        margin: 0 !important;
                        color: #666666;
                    }
                }
            }
            & > li{
                padding-left: 0;
            }
        }
    }
    .recent__img {
        &-box{
            &:not(:last-child){
                border-bottom: 1px solid;
                border-bottom-color: #e7e7e7;
            }
            &:first-child {
                padding-top: 0px;
            }
            overflow: hidden;
            padding: 20px 0 20px 0;
            padding-left: 0px !important;
            display: flex;
        }
        &-thumbnail {
            width: 30%;
            img{
                max-width: 100%;
                height: 100%;
            }
        }
        &-content{
            width: 70%;
            padding-left: 12px;
            a{
                color: #666666;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
    
}
.widget, .widgets select {
    font-weight: 400;
    font-size: 14px;
    li {
        &:hover a, &:hover i{
            color: #ff250d;
        }
        position: relative;
        border-top: 1px solid #ededed;
        padding: 8px 0 8px;
        &:first-child{
            border-top: none;
        }
    }
    a{
        color: #666666;
        padding: 8px 0 8px;
        position: relative;
    }
}