.product-detail .slide__item-wrap {
  flex-direction: column;
  align-items: flex-start;
}
.product-detail .slide__item-wrap .slide__text {
  max-width: 100%;
}
.product-detail .slide__item-wrap .slide__text-title {
  font-size: 50px !important;
  line-height: 64px;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}
.product-detail .slide__item-wrap .slide__text-content {
  margin: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}
.product-detail .slide__item-wrap .slide__text-content a {
  color: #fff;
}/*# sourceMappingURL=banner.css.map */