.product-detail{
    .slide__item-wrap{
        flex-direction: column;
        align-items: flex-start;
        .slide__text{
            max-width: 100%;
            &-title{
                font-size: 50px !important;
                line-height: 64px;
                letter-spacing: 1px;
                font-family: 'Rubik', sans-serif;
                text-transform: capitalize;
            }
            &-content{
                margin: 0;
                background: transparent;
                font-size: 16px;
                font-weight: 400;
                position: relative;
                display: inline-block;
                a{
                    color: #fff;
                }
            }
        }
    }
}