.blog__section{
    padding: 100px 0;
    min-height: 500px;
}
.product-details{
    background: #f9f9f9;
    #lightSlider li{
        padding: 0;
    }
    .im-product-gallery-wrapper{
        padding: 30px;
        box-shadow: 0px 0px 29.12px 2.88px rgb(69 68 68 / 3%);
        padding: 30px;
        margin-bottom: 30px;
        background: #ffffff;
    }
    .im-product-details-tab-area{
        padding-bottom: 60px;
        ul {
            .product__item {
                position: relative;
                button{
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 600;
                    background: #ffffff;
                    -webkit-transition: all .3s linear;
                    transition: all .3s linear;
                    color: #484848;
                    padding: 17px 45px 14px;
                    border-radius: 2px 2px 0 0;
                    display: inline-block;
                    border: 1px solid #fff;
                }
                &::after{
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 6px;
                    width: 0%;
                    transition: all 0.3s;
                }
                &:hover {
                    &::after{
                        width: 100%;
                    }
                }
                &:hover .product__item-link, .product__item-link.active, &::after{
                    background: #ff250d;
                    color: #ffffff;
                    border-color: #ff250d;
                }
            }
        }
        .scpecifiction__list {
            padding: 0;
            li {
                border-bottom: 1px solid rgba(0,0,0,.125);
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                margin-bottom: 0px;
                position: relative;
                display: flex;
                align-items: center;
                padding: 15px 0;
                font-size: 16px;
                &:last-child{
                    border-bottom: 1px solid transparent;
                }
            }
            &-info{
                &:first-child{
                    width: 100%;
                    max-width: 25%;
                    font-weight: 600;
                    position: relative;
                }
                &:last-child{
                    font-weight: 400;
                    width: 100%;
                    max-width: 75%;
                }
            }
        }
        .nav{
            margin-bottom: 0 !important;
        }
    }
    .product__slide{
        &-title{
            font-size: 20px;
            line-height: 26px;
            font-weight: 600;
            letter-spacing: .1px;
            color: #343434;
            margin-bottom: 7px;
            text-transform: capitalize;
        }
    }
}
.fade{
    opacity: 1;
}
.tab-pane{
    background: #ffffff;
    padding: 40px 30px;
    & > .im-title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        padding: 15px 0;
        color: #504a4a;
        letter-spacing: 0.5px;
        font-family: 'Rubik', sans-serif;
    }
    & > .p{
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        padding-bottom: 15px;
        color: #5d5d5d;
        letter-spacing: 0.3px;
    }
    h3{
        margin: 0;
        
    }
    &-product{
        padding: 26px 0 46px;
        .tab__item{
            box-shadow: 0px 0px 9px 0px rgb(88 89 91 / 15%);
            &:not(:last-child) {
                margin-bottom: 17px;
            }
            &-img{
                background: #f8f8f8;
            }
            &-wrapper{
                margin: 0 auto;
                .p {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    color: #484848;
                    display: inline-block;
                }
                .im-price{
                    margin-left: 130px;
                }
            }
            &-btn{
                padding: 16px 55px 16px 100px;
                border-left: 1px solid #f3f2f2;
                a{
                    font-size: 14px;
                    font-weight: 700;
                    padding: 9px 20px;
                    color: #ffffff;
                    display: inline-block;
                    border-radius: 4px;
                    background: #ff250d;
                    &:hover{
                        color: #ffffff;
                        background: #484848;
                    }
                }
            }
        }
    }
    .right{
        padding: 0;
        .tab__item-wrapper{
            text-align: center;
        }
        .tab__item-btn{
            padding: 0;
            a{
                margin-top: 4px;
                font-size: 13px;
                font-weight: 700;
                padding: 6px 15px;
            }
        }
        .tab__item-img{
            &:last-child{
                background: #fff;
            }
        }
    }
    &-list{
        margin-top: 6px;
        li {
            position: relative;
            color: #6f6f6f;
            font-size: 14px;
            letter-spacing: .1px;
            padding: 6px 0px 6px 165px;
            line-height: 24px;
            font-weight: 500;
            span {
                position: absolute;
                top: 5px;
                left: 22px;
                color: #000000;
                font-weight: 600;
            }
            &::after{
                position: absolute;
                top: 13px;
                left: 0;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background: #565555;
                content: '';
            }
        }
    }
}