.blog__section {
  padding: 100px 0;
  min-height: 500px;
}

.product-details {
  background: #f9f9f9;
}
.product-details #lightSlider li {
  padding: 0;
}
.product-details .im-product-gallery-wrapper {
  padding: 30px;
  box-shadow: 0px 0px 29.12px 2.88px rgba(69, 68, 68, 0.03);
  padding: 30px;
  margin-bottom: 30px;
  background: #ffffff;
}
.product-details .im-product-details-tab-area {
  padding-bottom: 60px;
}
.product-details .im-product-details-tab-area ul .product__item {
  position: relative;
}
.product-details .im-product-details-tab-area ul .product__item button {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  background: #ffffff;
  transition: all 0.3s linear;
  color: #484848;
  padding: 17px 45px 14px;
  border-radius: 2px 2px 0 0;
  display: inline-block;
  border: 1px solid #fff;
}
.product-details .im-product-details-tab-area ul .product__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  width: 0%;
  transition: all 0.3s;
}
.product-details .im-product-details-tab-area ul .product__item:hover::after {
  width: 100%;
}
.product-details .im-product-details-tab-area ul .product__item:hover .product__item-link, .product-details .im-product-details-tab-area ul .product__item .product__item-link.active, .product-details .im-product-details-tab-area ul .product__item::after {
  background: #ff250d;
  color: #ffffff;
  border-color: #ff250d;
}
.product-details .im-product-details-tab-area .scpecifiction__list {
  padding: 0;
}
.product-details .im-product-details-tab-area .scpecifiction__list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-bottom: 0px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 16px;
}
.product-details .im-product-details-tab-area .scpecifiction__list li:last-child {
  border-bottom: 1px solid transparent;
}
.product-details .im-product-details-tab-area .scpecifiction__list-info:first-child {
  width: 100%;
  max-width: 25%;
  font-weight: 600;
  position: relative;
}
.product-details .im-product-details-tab-area .scpecifiction__list-info:last-child {
  font-weight: 400;
  width: 100%;
  max-width: 75%;
}
.product-details .im-product-details-tab-area .nav {
  margin-bottom: 0 !important;
}
.product-details .product__slide-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #343434;
  margin-bottom: 7px;
  text-transform: capitalize;
}

.fade {
  opacity: 1;
}

.tab-pane {
  background: #ffffff;
  padding: 40px 30px;
}
.tab-pane > .im-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  padding: 15px 0;
  color: #504a4a;
  letter-spacing: 0.5px;
  font-family: "Rubik", sans-serif;
}
.tab-pane > .p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 15px;
  color: #5d5d5d;
  letter-spacing: 0.3px;
}
.tab-pane h3 {
  margin: 0;
}
.tab-pane-product {
  padding: 26px 0 46px;
}
.tab-pane-product .tab__item {
  box-shadow: 0px 0px 9px 0px rgba(88, 89, 91, 0.15);
}
.tab-pane-product .tab__item:not(:last-child) {
  margin-bottom: 17px;
}
.tab-pane-product .tab__item-img {
  background: #f8f8f8;
}
.tab-pane-product .tab__item-wrapper {
  margin: 0 auto;
}
.tab-pane-product .tab__item-wrapper .p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #484848;
  display: inline-block;
}
.tab-pane-product .tab__item-wrapper .im-price {
  margin-left: 130px;
}
.tab-pane-product .tab__item-btn {
  padding: 16px 55px 16px 100px;
  border-left: 1px solid #f3f2f2;
}
.tab-pane-product .tab__item-btn a {
  font-size: 14px;
  font-weight: 700;
  padding: 9px 20px;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  background: #ff250d;
}
.tab-pane-product .tab__item-btn a:hover {
  color: #ffffff;
  background: #484848;
}
.tab-pane .right {
  padding: 0;
}
.tab-pane .right .tab__item-wrapper {
  text-align: center;
}
.tab-pane .right .tab__item-btn {
  padding: 0;
}
.tab-pane .right .tab__item-btn a {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 700;
  padding: 6px 15px;
}
.tab-pane .right .tab__item-img:last-child {
  background: #fff;
}
.tab-pane-list {
  margin-top: 6px;
}
.tab-pane-list li {
  position: relative;
  color: #6f6f6f;
  font-size: 14px;
  letter-spacing: 0.1px;
  padding: 6px 0px 6px 165px;
  line-height: 24px;
  font-weight: 500;
}
.tab-pane-list li span {
  position: absolute;
  top: 5px;
  left: 22px;
  color: #000000;
  font-weight: 600;
}
.tab-pane-list li::after {
  position: absolute;
  top: 13px;
  left: 0;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #565555;
  content: "";
}/*# sourceMappingURL=blog.css.map */