.related_items{
    background: white;
    overflow: hidden;
    padding: 0 30px;
    max-width: 100%;
    min-height: 1px;
    width: 100%;
    position: relative;
    .amazon__title{
        padding: 26px 0 0px 0;
        position: relative;
        letter-spacing: 1px;
    }
    .amazon__product-box {
        margin-bottom: 30px !important;
    }
}